<%@ page contentType="text/html"
         pageEncoding="UTF-8"
         session="false"%>
<jsp:useBean id="ide" scope="request" class="com.feedhenry.studio.IDEWebBean"></jsp:useBean>
<%!
  //Logger errlog = Common.selog;
%>
<%
ide.init( application );
String pageName = com.feedhenry.studio.IDEWebBean.IDE_INDEX;
try {
  if( ide.initreq( request, response, pageName ) ) {
    if( ide.canProceed( request, response, pageName ) ) {
%>
<!DOCTYPE html>
<html>

  <head>
    <!-- common head elements -->
    <%@ include file="inc/head/common.html"%>
    
    <!-- page specific scripts -->
    
    <!--[if lt IE 9]><script src="/static/c/<%= ide.getStaticAssetPath("common/js/ui/thirdparty/jquery/plugins/jqplot/excanvas.js") %>" type="text/javascript"></script><![endif]-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/static/ide/script/<%= ide.getLanguage()%>/<%= ide.getAssetCtrlVal() %>-scripts.js" type="text/javascript"></script>
    
  </head>
  
  <body style="display:none;">
    
    <%@ include file="inc/main/main_layout.html"%>
  
  </body>
  
</html>
<%
    }
  }
} catch( Exception e ) {
  //errlog.error("ide",e);
  ide.addExplainError(e);
  out.println(e);
  e.printStackTrace();
}
finally {
  out.println(ide.outputExplain());
}
%>