

<%@ page contentType="text/html"
         import="java.util.*
                ,org.tssg.millicore.server.*
                ,org.apache.log4j.*
                "
         pageEncoding="UTF-8"
         session="false"
%><jsp:useBean id="ide" scope="request" class="com.feedhenry.studio.IDEWebBean"></jsp:useBean>
<%!
  Logger errlog = Common.selog;
%>
<%
String pageName = com.feedhenry.studio.IDEWebBean.IDE_RESET;
ide.init( application );
try {
  ide.initreq( request, response, pageName );
%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

  <head>
    <!-- common head elements -->
    <%@ include file="inc/head/common.html"%>
    
    <!-- page specific scripts -->
    <script>
      var TOKEN = "<%= ide.getResetToken()%>";
    </script>
    <script src="/static/c/<%= ide.getStaticAssetPath("ide/js/init/ResetInit.js") %>" type="text/javascript"></script>
    
  </head>
  
  <body style="display:none;" class="reset_screen_body">
  
    <%@ include file="inc/reset/reset_layout.html"%>
    
  </body>
  
</html>
<%
} catch( Exception e ) {
  errlog.error("ide",e);
}
%>