.nav-tabs.compact > li > a {
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 16px;
}

.nav-tabs.compact > li > a {
  font-size: 0.9em;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 4px;
}

.breadcrumb.compact {
    display: inline-block;
    float: left;
    font-size: 0.8em;
    margin: 8px;
}

#cms_container .fh-box-inner {
  padding: 0px;
}

#cms_container .fh-box-header .btn:last-of-type {
    margin-right: 24px;
}

#cms_container .modal pre {
    max-height: 300px;
}

/* These are in newer versions of bootstrap..*/
.text-warning {
    color: #c09853;
}
.text-error {
    color: #b94a48;
}
.text-info {
    color: #3a87ad;
}

#cms_container .col {
  display: inline-block;
}

#cms_container .leftCol {
  width: 20%;
}

#cms_container .middleCol{
  width: 50%;
}

#cms_container .rightCol {
  width: 29%;
}

#cms_container #addField a.btn {
  width: 90px;
  text-align: left;
  margin: 4px 6px;
  float: left;
}

#cms_container .left .menu h3, #cms_container .middle h3 {
    font-size: 1.3em;
    font-weight: 100;
    margin: 0px;
    padding: 6px 0px 0px 12px;
    display: inline-block;
    line-height: 20px;
}

/* Make left menu buttons inline with nav */
#cms_container .left .menu .btn-group {
    margin-top: 8px;
}

#cms_container .left .menu .btn-group > .btn:first-child {
    border-bottom-left-radius: 0px;
}

#cms_container .left .menu .btn-group > .btn:last-child {
    border-bottom-right-radius: 0px;
}


#cms_container .middle h3 {
    line-height: 4px;
    width: 136px;
}


.editListDataInstructions {
    margin: 10px 0px;
}

#cms_container .btn-cms-back {
    margin-right: 10px;
}

.row.nomargin {
  margin-left: 0px;
}

.row.nomargin .span3,
.row.nomargin .span4,
.row.nomargin .span6,
.row.nomargin .span2 {
  margin-left: 0px;
}

.row.nomargin .span3 {
  width: 25%;
}
.row.nomargin .span6 {
  width: 50%;
}

.row.nomargin .span4 {
  width: 33.333333333%;
}

.row.nomargin .span2 {
  width: 16.666666667%;
}

.middle .alert {
    position: absolute;
    width: 38%;
    margin-left: 6px;
}

.middle .btn-group, .left .btn-group {
    display: inline-block;
}

#cms_container fieldset.empty {
    border: 1px dashed #ddd;
    padding: 65px;
    color: #666;
    font-weight: 100;
    font-size: 1.4em;
}

.fb-field-wrapper .dataTables_paginate {
    display: none;
}

/*
  Make a unified border-bottom across the CMS
 */

#cms_container .middle .breadcrumb,
#cms_container .left .menu,
#cms_container .right .fb-tabs {
    border-bottom: 1px solid #ccc;
}

#cms_container .middle .breadcrumb {
    background-color: #fff;
    border-radius: 0px;
}

#cms_container .left .menu {
    width: 100%;
    margin-top: 2px;
    padding-bottom: 7px;
}

#cms_container .right .fb-tabs {
    margin-top: 11px;
}

/*
  Form Builder CSS overrides
 */

.cms-listfield-savecancel, .cms_section_savecancel {
    top: -150px; /* Makes up for the 150px bottom padding on every form */
}

.fb-field-wrapper .actions-wrapper {
    bottom: 2px;
}

.fb-common-checkboxes {
    display: none;
}

.fb-label-description textarea {
    display: none;
}
.fb-field-wrapper .subtemplate-wrapper .cover {
    z-index: -2;
}

.fb-save-wrapper {
    display: none;
}

.fb-field-wrapper.editing {
    background-color: #f8f8f8;
}

.fb-field-wrapper.editing .subtemplate-wrapper {
    border-color: #868686;
    border-style: dashed;
}

.response-field-text input.rf-size-large, .response-field-paragraph textarea.rf-size-large {
    width: 97%;
}
