#databrowser_container .navbar {
    margin-bottom: 0px;
}

#databrowser_container .navbar  a.brand{
    cursor: default;
}

#databrowser_container .pagination {
    margin: 0px;
}
.table.databrowser {
    overflow-y : scroll;
    display: block;
    width: 95%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.table.databrowser.table-bordered, .table.databrowser.table-bordered th {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.databrowsernav.navbar .navbar-inner {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 0px;
}

.navbar.databrowsernav {
    margin-bottom: 0px;
}

.databrowser th.th-edit {
    display: none;
}

.btn-group.btn-savecancel {
    margin-top: 5px;
}

.databrowser td {
    border-left: 1px solid #dddddd;
    overflow: hidden;
    white-space: nowrap;

}

.databrowser td.field {
    min-width: 150px;
}

.databrowser td.field:last-child {
    width: 100%; /* Makes the last field stretch across to the edit buttons on narrow tables */
}


.trow.editing td {
    padding: 0px;
    margin: 0px;
    border: 1px solid #999;
}
.trow.editing input, .trow.editing select{
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: inline;
    width: auto;
    height: 27px;
    background: transparent;
}
.databrowser tr td.td-edit {
    overflow: visible;
    position: absolute;
    right: 0px;
    border: 0px;
    padding-left: 6px;
    background: white;
}

.databrowser tr.dirty {
    background-color: #fcf8e3;
}

#databrowser_container .td-edit .dropdown-menu {
    right: 20px;
    left: auto;
}

ul.collectionsUl {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0px 18px;
    margin: 0px;
    border-bottom: 1px solid #ccc;
}

ul.collectionsUl li {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding: 0px 2px;
}

ul.collectionsUl li:last-child {
    border-bottom: 0px;
}

ul.collectionsUl li h3 {
    margin: 14px 0px 5px 0px;
    line-height: 15px;
    font-size: 14px;
    font-weight: normal;
}

ul.collectionsUl li .collectionMeta {
    float: left;
    margin: 0px 20px 0px 0px;
}
ul.collectionsUl li .raquo {
    float: right;
    content:'\00BB';
    font-size: 26px;
    color: #666;
}

/*
    JSONEditor specific styling
*/
#databrowser_container .jsoneditor, #databrowser_container .jsoneditor .frame,
#databrowser_container .jsoneditor .menu, #databrowser_container .jsoneditor .menu button {
    border-color: #d4d4d4;
}
#databrowser_container .jsoneditor .menu button {
    background-color : #ededed;
}
#databrowser_container .jsoneditor .menu button:disabled {
    background-color: #efefef;
}
#databrowser_container .jsoneditor {

    min-height: 400px;
}

#databrowser_container .jsoneditor .menu {
    background-color: #f2f2f2;
}

#databrowser_container .jsoneditor textarea {
    min-height: 363px;
}
