/*
 App.View.FormList styles
 */
.formslist table tr {
    cursor: pointer;
}
.formslist table tr.info, .formslist table tr:hover {
    background-color: #d9edf7;
}
.formslist .formpreview {
    border: 1px solid #ddd;
}

.formslist .formpreview .subtemplate-wrapper {
    border: 0px;
}
.formslist .formpreview h4 {
    margin-left: 8px;
}

.formslist .formpreview p {
    margin-left: 10px;
}