<div id="armusers_layout" class="inner-layout arm-layout" style="display:none;">
    <!-- arm_layout north -->
    <div id="armusers_north" class="ui-layout-north">
      <div class="container-header">
        <div class="container-header-content">
          <h1 class="container-title"></h1>
        </div>
        <div class="container-header-bottom"></div>
      </div>
    </div>
    <!-- end armusers_layout north -->
    <!-- armusers_layout west -->
    <div id="armusers_west" class="ui-layout-west">
      <div id="armusers_accordion" class="">
         <!--  have to manually add ui-accordion-header-first class here as accordion plugin doesn't have a first tab class -->
         <h3 id="accordion_item_apps"><a>Users</a></h3>
        <div>
          <ul class="ui-menu">
            <li id="armusers_edit" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>Detail</a></li>
            <li id="armusers_assigngroups" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>Assign Groups</a></li>
            <li id="armusers_assignapps" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>Assign Apps</a></li>
            <li id="armusers_assigndevices" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>Assign Devices</a></li>
            <li id="armusers_resetpass" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>Reset Password</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end armusers_layout west -->
    <!-- armusers_layout center -->
    <div id="armusers_center" class="ui-layout-center">
       <div id="armusers_header">
          <!-- Generic header for standard sections with plain text header -->
          <div id="armusers_header_text" class="arm-users-header section-header"></div>
        </div>    
      
      <!-- Hide this initially and let javascript show it when its ready -->
      <div id="armusers_content" class="ui-layout-content ui-widget ui-widget-content" style="display:none;">
        <%@ include file="../arm_users/users_edit.html" %>
        <%@ include file="../arm_users/users_reset_pass.html" %>
        <%@ include file="../arm_users/users_assign_groups.html" %>
        <%@ include file="../arm_users/users_assign_apps.html" %>
        <%@ include file="../arm_users/users_assign_devices.html" %>
      </div>
    </div>
    <!-- end armusers_layout center -->
    <!-- armusers_layout east -->
    <div id="armusers_east" class="ui-layout-east"></div>
    <!-- end armusers_layout east -->
    <!-- armusers_layout south -->
    <div id="armusers_south" class="ui-layout-south"></div>
    <!-- end armusers_layout south -->
  </div>