<div id="arm_layout" class="inner-layout arm-layout">
    <!-- arm_layout north -->
    <div id="arm_north" class="ui-layout-north">
      <div class="container-header">
        <div class="container-header-content">
          <h1 class="container-title"></h1>
        </div>
        <div class="container-header-bottom"></div>
      </div>
    </div>
    <!-- end arm_layout north -->
    <!-- arm_layout west -->
    <div id="arm_west" class="ui-layout-west">
      <div id="arm_accordion" class="">
         <!--  have to manually add ui-accordion-header-first class here as accordion plugin doesn't have a first tab class -->
         <h3 id="accordion_item_apps"><a>Apps</a></h3>
        <div>
          <ul class="ui-menu">
            <li id="apps_list" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>List</a></li>
          </ul>
        </div>
        <h3 id="accordion_item_users"><a>Users</a></h3>
        <div>
          <ul class="ui-menu">
            <li id="users_list" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>List</a></li>
            <li id="users_add" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>Add User</a></li>    
          </ul>
        </div>
        <h3 id="accordion_item_groups"><a>Groups</a></h3>
        <div>
          <ul class="ui-menu">
            <li id="groups_list" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>List</a></li>
            <li id="groups_add" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>Add Group</a></li>    
          </ul>
        </div>
        <h3 id="accordion_item_devices" class="ui-accordion-header-last"><a>Devices</a></h3>
        <div>
          <ul class="ui-menu">
            <li id="devices_list" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>List</a></li>
            <li id="devices_add" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>Add Device</a></li>    
            <li id="devices_approve" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>Approve</a></li>    
          </ul>
        </div>
        <% if(studio.getProps().optBoolean("arm-auth-policy-enabled", false)) { %>
        <h3 id="accordion_item_auth_policies" class="ui-accordion-header-last"><a>Authentication Policies</a></h3>
        <div>
          <ul class="ui-menu">
            <li id="auth_policies_manage" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>Manage</a></li> 
          </ul>
        </div>
        <% } %>
      </div>
    </div>
    <!-- end arm_layout west -->
    <!-- arm_layout center -->
    <div id="arm_center" class="ui-layout-center">
       <div id="arm_header">
          <!-- Generic header for standard sections with plain text header -->
          <div id="arm_header_text" class="arm-header section-header"></div>
        </div>    
      
      <!-- Hide this initially and let javascript show it when its ready -->
      <div id="arm_content" class="ui-layout-content ui-widget ui-widget-content" style="display:none;">
      
        <%@ include file="../arm_apps/apps_list.html" %>
        <%@ include file="../arm_users/users_list.html" %>
        <%@ include file="../arm_users/users_add.html" %>
        <%@ include file="../arm_groups/groups_list.html" %>
        <%@ include file="../arm_groups/groups_add.html" %>
        <%@ include file="../arm_devices/devices_list.html" %>
        <%@ include file="../arm_devices/devices_add.html" %>
        <%@ include file="../arm_devices/devices_approve.html" %>
        <% if(studio.getProps().optBoolean("arm-auth-policy-enabled", false)) { %>
        <%@ include file="../arm_auth_policies/auth_policies_manage.html" %>
        <% } %>
      </div>
    </div>
    <!-- end arm_layout center -->
    <!-- arm_layout east -->
    <div id="arm_east" class="ui-layout-east"></div>
    <!-- end arm_layout east -->
    <!-- arm_layout south -->
    <div id="arm_south" class="ui-layout-south"></div>
    <!-- end arm_layout south -->
  </div>