<div id="armdevices_layout" class="inner-layout arm-layout" style="display:none;">
    <!-- arm_layout north -->
    <div id="armdevices_north" class="ui-layout-north">
      <div class="container-header">
        <div class="container-header-content">
          <h1 class="container-title"></h1>
        </div>
      </div>
    </div>
    <!-- end armdevices_layout north -->
    <!-- armdevices_layout west -->
    <div id="armdevices_west" class="ui-layout-west">
      <div id="armdevices_accordion" class="">
         <!--  have to manually add ui-accordion-header-first class here as accordion plugin doesn't have a first tab class -->
         <h3 id="accordion_item_apps"><a>Devices</a></h3>
        <div>
          <ul class="ui-menu">
            <li id="armdevices_edit" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>Detail</a></li>
            <li id="armdevices_assignusers" class="fh_breadcrumb ui-widget ui-widget-header ui-menu-item ui-state-default"><a>Assign Users</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end armdevices_layout west -->
    <!-- armdevices_layout center -->
    <div id="armdevices_center" class="ui-layout-center">
       <div id="armdevices_header">
          <!-- Generic header for standard sections with plain text header -->
          <div id="armdevices_header_text" class="arm-users-header section-header"></div>
        </div>    
      
      <!-- Hide this initially and let javascript show it when its ready -->
      <div id="armdevices_content" class="ui-layout-content ui-widget ui-widget-content" style="display:none;">
        <%@ include file="../arm_devices/devices_edit.html" %>
        <%@ include file="../arm_devices/devices_assign_users.html" %>
      </div>
    </div>
    <!-- end armdevices_layout center -->
    <!-- armdevices_layout east -->
    <div id="armdevices_east" class="ui-layout-east"></div>
    <!-- end armdevices_layout east -->
    <!-- armdevices_layout south -->
    <div id="armdevices_south" class="ui-layout-south"></div>
    <!-- end armdevices_layout south -->
  </div>