<% /* TODO: remove these divs */ %>
<div id="reporting_mixpanel_header" class="reporting_container_header section-header">
 <div class="header_text" >
   Mixpanel
 </div>
 <div class="header_link">
   <a href="<%= studio.getProperty("reporting-mixpanel") %>" id="reporting_mixpanel_link_btn" target="_blank">New Tab</a>
 </div>
</div>
<div id="reporting_mixpanel_container" class="reporting-container section-container">
  <div id="reporting_mixpanel_container_body" class="section-body">
  <!-- iframe src="<%= studio.getProperty("reporting-mixpanel") %>" width="100%" height="100%" class="reporting_iframe"></iframe -->
  </div>
</div>

<div id="reporting_flurry_header" class="reporting_container_header section-header">
 <div class="header_text" >
   Flurry
 </div>
 <div class="header_link">
   <a href="<%= studio.getProperty("reporting-flurry") %>" id="reporting_flurry_link_btn" target="_blank">New Tab</a>
 </div>
</div>
<div id="reporting_flurry_container" class="reporting-container section-container">
  <div id="reporting_flurry_container_body" class="section-body">
  <!-- iframe src="<%= studio.getProperty("reporting-flurry") %>" width="100%" height="100%" class="reporting_iframe"></iframe -->
  </div>
</div>

<div id="reporting_google_header" class="reporting_container_header section-header">
 <div class="header_text" >
   Google Analytics
 </div>
 <div class="header_link">
   <a href="<%= studio.getProperty("reporting-ga") %>" id="reporting_google_link_btn" target="_blank">New Tab</a>
 </div>
</div>
<div id="reporting_google_container" class="reporting-container section-container">
  <div id="reporting_google_container_body" class="section-body">
  <!-- iframe src="<%= studio.getProperty("reporting-ga") %>" width="100%" height="100%" class="reporting_iframe"></iframe -->
  </div>
</div>