/* App Store all screens */
.back_button {
  position:absolute;
}

body {
  background: #f5f5f5;
}

/* Padding for fixed header */
.page_container {
  padding-top: 57px;
}

/* Store Items */
.store_item .controls { padding-top: 21px; }

.store_item .controls button {
  margin-top: 13px;
  width: 50px;
  height: 50px;
}

.store_items_controls { 
  text-align: right; 
  margin-bottom: 10px;
}

.store_item_binaries {
  background: #eaeaea;
}

.store_item_binaries .control-group {
  margin-bottom: 0;
}

.store_item .icon, #app_store .store_icon, #store_item_update .store_item_icon, .appstore_icon, .icon_container .icon, .auth_icon {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, .25), 0 -1px 1px rgba(153, 153, 153, .2);
  width: 100%;
  height: 100%;
  max-width: 128px;
  max-height: 128px;
}

.store_item_binaries span.label {
  margin-right: 10px;
  width: 77px;
  display: inline-block;
  text-align: center;
}

.store_item_binaries_table td {
  line-height: 28px;
}

.appstore_icon {
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

.login_button {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.auth_icon {
  margin-right: 20px;
}

.description {
  height:6em;
  overflow:hidden;
}

.item_description {
  margin-top:1em;
}

.page-header {
  margin: 0;
  padding: 0;
  padding: 5px 0 5px 0;
  margin-bottom: 5px;
  color: #c8c8c8;
  text-shadow: 0 1px 1px #161616;
  border-bottom: 1px solid #000;
  position: fixed;
  height: 36px;

  background: #6d6d6d; /* Old browsers */
  background: -moz-linear-gradient(top,  #6d6d6d 0%, #393939 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6d6d), color-stop(100%,#393939)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6d6d6d 0%,#393939 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6d6d6d 0%,#393939 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6d6d6d 0%,#393939 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #6d6d6d 0%,#393939 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#393939',GradientType=0 ); /* IE6-9 */
}

.page-header h2 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alerts { margin-top: 10px; }

#store_login h3 {
  text-align: center;
}

#auth_policy_actions {
  text-align: center;
}

#auth_policy_actions .auth_policy_select_btn {
  margin-bottom: 10px;
  min-width: 210px;
  min-height: 60px;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
  line-height: inherit;
}

.auth_policy_select_btn.google {
  background: url(img/auth_google.png) #fff no-repeat 50% 50%;
}

.auth_policy_select_btn.feedhenry {
  background: url(img/auth_feedhenry.png) #fff no-repeat 50% 50%;
}

.auth_policy_select_btn.ldap {
  background: url(img/auth_ldap.png) #fff no-repeat 50% 50%;
}

.logout_button {
  margin: 4px 5px 0 0;
  width: 81px;
}

.back_button { 
  margin: 4px 0 0 5px;
  width: 81px;
}

.store_item.well, #store_detail .well {
  background-color: #ebebeb;
}

#store_user_password {
  text-align: right;
}
