<%@ page contentType="text/html" pageEncoding="UTF-8" session="false" trimDirectiveWhitespaces="true"
    import="java.util.Map" %>
<jsp:useBean id="studio" scope="request" class="com.feedhenry.studio.StudioBean"></jsp:useBean>
<%
studio.init( application );
String pageName = com.feedhenry.studio.StudioBean.IDE_LANDING;
try {
  if( studio.initreq( request, response, pageName ) ) {
    if( studio.canProceed( request, response, pageName ) ) {

      String btnText = "Login";
      String btnTarget = "/?a=login";    
      if( studio.isLoggedIn() ) {
        btnText = "App Studio";
        btnTarget = "/?a=index";
      }
      Map docLinks = studio.getDocsLinks();
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FeedHenry Studio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="<%= studio.getThemeStaticAssetPath("/img/favicon.ico") %>"></link>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="<%= studio.getThemeStaticAssetPath("/js/html5shim.js")%>"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="<%= studio.getThemeStaticAssetPath("/css/bootstrap.min.css")%>">
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("themes/default/css/header_links.css")%>">
    <link rel="stylesheet" href="<%= studio.getThemeStaticAssetPath("/css/style.css")%>">

  <script src="<%=studio.getStaticAssetPath("common/js/ui/thirdparty/jquery/jquery.js")%>" type="text/javascript"></script>
  <script src="<%= studio.getThemeStaticAssetPath("/js/bootstrap-tabs.js")%>"></script>
  <script type="text/javascript">
    $('.tabs').tabs();
    
    function switchTab(id){
      $('.tabs_container .row').removeClass('active');
      $("#" + id).addClass("active");
      $('#tryit').hide();
      return false;
    }

    function getQuerystring(key) {
      key = key.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
      var regex = new RegExp("[\\?&]"+key+"=([^&#]*)");
      var qs = regex.exec(window.location.href);
      if(qs == null)
        return null;
      else
        return qs[1];
    }

    $(document).ready(function() {
      var message = getQuerystring('message');
      if (message == 'registration_activated') {
        $('#activation_successful').show();
        setTimeout(function(){
          $('#activation_successful').slideUp();
        }, 10000);
      }

      var video = getQuerystring('video');
      if (video === "1"){
        switchTab('showvideo')
      }else if(video === "2"){
        switchTab('showdemo');
      }

    });
  
  </script>
  
    <!-- Mixpanel stuff -->
		<script type="text/javascript">
		    var mpEnabled = <%=studio.getProperty(studio.PROP_LANDINGMIXPANELENABLED).toString()%>;
        var mpTestMode = <%=studio.getProperty(studio.PROP_LANDINGMIXPANELTEST)%>;
		    var mpq = [];
		    if (mpEnabled) {
	        mpq.push(["init", "<%=studio.getProperty(studio.PROP_LANDINGMIXPANELKEY)%>"]);
	        (function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";
	        b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+
	        "//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];
	        a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push(
	        [f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links",
	        "track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<
	        d.length;c++){mpq[d[c]]=e(d[c])}})();
	        if( mpTestMode ) {
	          mpq.push(["set_config", {'test': 1 }]);
	        }
		    }

        var gAnalyticsEnabled = <%=studio.getProperty(studio.PROP_LANDINGGOOGLEENABLED).toString()%>;
        var _gaq = _gaq || [];
        if (gAnalyticsEnabled) {
          _gaq.push(['_setAccount', '<%=studio.getProperty(studio.PROP_LANDINGGOOGLEKEY)%>']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        }
		</script>
  </head>

  <body>


    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <div class="user_info_container">
            <%@ include file="../../inc/header/header_links.html"%>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <a href="/"><img class="logoWest" src="<%=studio.getStaticAssetPath("themes/default/img/feedhenry_logo.png")%>" /></a>
    <img class="logoEast" src="<%= studio.getThemeStaticAssetPath("/images/logo-rackspace.png")%>" />

    <div id="activate_center_layout_north" class="ui-layout-north" style="display: none">
      <div id="info_area" class="dialog ui-corner-all"><p></p></div>
    </div>

    <div id="activation_successful">
      <strong>Activation Successful.</strong> Your account is now activated.
    </div>

      <div class="hero-unit tab-content pill-content tabs_container">


      <div id="welcome" class="row active">
      <div class="span7">
        <h2>Build Enterprise-Grade Mobile Apps with Rackspace and FeedHenry</h2>
        <hr />
        <p>Rackspace and FeedHenry combine to deliver the first in its class, completely open, cloud-based, enterprise grade mobile application platform designed to be the most flexible, scalable and secure solution in the industry.</p>
      </div>
      <div class="span8 platformdiagram">
        <img src="<%= studio.getThemeStaticAssetPath("/images/platform-diagram.png")%>" />
      </div>
    </div>

    <div id="registerdemo" class="row">
      <iframe height="460" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://feedhenry.wufoo.com/embed/z7r4w7/"><a href="https://feedhenry.wufoo.com/forms/z7r4w7/">Form loading..</a></iframe>
    </div>
    <div id="registervideo" class="row">
      <iframe height="460" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://feedhenry.wufoo.com/embed/z7r4q7/"><a href="https://feedhenry.wufoo.com/forms/z7r4q7/">Form laoding..</a></iframe>
    </div>
    <div id="showvideo" class="row" style="text-align: center; margin: auto;">
      <iframe src="//player.vimeo.com/video/74826280" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div id="showdemo" class="row" style="text-align: center; margin: auto;">
      <iframe src="//player.vimeo.com/video/74495467" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <% if (studio.isLoggedIn()) { %>
      <div class="hero-unit" id="tryit">
        <a href="<%=btnTarget%>" class="btn large bfob">Jump to App Studio &raquo;</a>
      </div>
  <% } else { %>
    <div class="hero-unit" id="tryit">
      <a href="#" onclick="switchTab('registervideo')" class="btn large bfob fhc_button">Watch Video &raquo; </a>
      <a href="#" onclick="switchTab('registerdemo')" class="btn large bfob studio_button">Sign Up Now  &raquo; </a>
    </div>
  <% } %>

      <div class="row docs">
        <div class="span5">
          <h2>Watch Platform Demo</h2>
          <img src="<%= studio.getThemeStaticAssetPath("/images/videos.png")%>" alt="Github" class="pull-left thumb">
          <p>See the FeedHenry and Rackspace demo video to learn how quick and easy it is to build enterprise-grade applications.</p>
          <a class="btn" onclick="switchTab('showdemo')" href="#">View Video &raquo;</a>
        </div>
        <div class="span6">
          <h2>Solution Overview</h2>
          <img src="<%= studio.getThemeStaticAssetPath("/images/brochure.png")%>" alt="Blog" class="pull-left thumb">
          <p>Learn more about how FeedHenry provides a next-generation, cloud-based Mobile Application Platform for Enterprises and why Rackspace is the service leader in cloud computing.</p>
          <a class="btn" target="_blank" href="http://henr.ie/fhbrochure">See Brochure &raquo;</a>
       </div>
        <div class="span5">
          <h2>Schedule a Demo</h2>
          <img src="<%= studio.getThemeStaticAssetPath("/images/calendar.png")%>" alt="APIs" class="pull-left thumb">
          <p>Schedule a live demo with our experts guiding you through developing an enterprise-grade mobile app deployed in the Rackspace Cloud.</p>
          <a class="btn" onclick="switchTab('registerdemo')" href="#">Schedule a Demo &raquo;</a>
        </div>

      </div>

      <div class="row docs">
          <div class="span5">
            <h2>Mobile Meets Cloud</h2>
            <img src="<%= studio.getThemeStaticAssetPath("/images/schedule.png")%>" alt="Github" class="pull-left thumb">
            <p>Read press release on how FeedHenry and Rackspace go to market to advance deployments of open, cloud based mobile applications</p>
            <a class="btn" target="_blank" href="http://henr.ie/rackspacepressrelease">View press release &raquo;</a>
          </div>
          <div class="span6">
            <h2>Joint Webinar</h2>
            <img src="<%= studio.getThemeStaticAssetPath("/images/jointventure.png")%>" alt="Blog" class="pull-left thumb">
            <p>In this webinar learn how FeedHenry and Rackspace have come together to deliver cloud-powered mobile apps for enterprise customers.</p>
            <a class="btn" target="_blank" href="http://henr.ie/fhrackspacewebinar">Watch Webinar &raquo;</a>
          </div>
          <div class="span5">
            <h2>Blog Post</h2>
            <img src="<%= studio.getThemeStaticAssetPath("/images/blog.png")%>" alt="APIs" class="pull-left thumb">
            <p>Read our blog post on why FeedHenry and Rackspace and mobile and cloud are a perfect yin and yang for enterprise mobility.</p>
            <a class="btn" target="_blank" href="http://henr.ie/rackspaceblogpost">Blog Post &raquo;</a>

      </div>

      </div>

      <footer>
        <p style="float: left">&copy; Feedhenry <%= new java.text.SimpleDateFormat("yyyy").format(new java.util.Date()) %></p>
        <p class="tab-footer" style="float:right"><%=studio.getProperty(studio.PROP_LANDINGLEGALTEXT)%></p>
      </footer>

    </div> <!-- /container -->

    <!-- Mixpanel stuff - bind to all anchor tags when clicked -->
    <script>
    var fhpage = "<%=this.getClass().getSimpleName().replaceAll("_", ".")%>";
    $(document).ready(function () {
      if (mpEnabled) {
        // Track tabs and links
        // We can track links here because we've set the target to _blank for all <a> tags
        // This means the page doesn't get replaced, allowing mixpanel to track
        $('a').bind('click', function (e) {
          var thisA = $(this);
          // To ensure we don't track both button clicks and tabs if one links to the other,
          // lets check if we shouldn't track
          if (thisA.data('track') !== 'false') {
            var buttonName = thisA.text().replace(/\s/g, '_');
            mpq.track(buttonName + '-clicked', {"page": fhpage});
          } else {
            thisA.data('track', '');
          }
		    });
        // track page also
		    mpq.track('page-loaded', {"page": fhpage});
      }
    });
    </script>
  </body>
</html>
<%
    }
  }
} catch( Exception e ) {
  studio.error(e);
}
%>
