<%@ page contentType="text/html" pageEncoding="UTF-8" session="false" trimDirectiveWhitespaces="true" %>
<jsp:useBean id="studio" scope="request" class="com.feedhenry.studio.StudioBean"></jsp:useBean>
<%
String pageName = studio.getPageName();
%>
<div class="ui-layout-ignore">
  <%@ include file="./dialogs/info_dialog.html"%>
  <%@ include file="./dialogs/connectivity_dialog.html"%>
</div>

<ul id="main_tabs_buttons" class="ui-no-corner-bottom">
  <li class="dashboard-tab">
    <a id="dashboard_tab" href="#tabs-4">Dashboard</a>
  </li>
    <% if(studio.getProperty("appforms-enabled-feedhenry2").equals("true") && studio.hasFormsRole()){ %>
    <li class="forms-tab">
        <a id="forms_tab" href="#tabs-8">Forms</a>
    </li>
    <% } %>
  <% if (studio.inGroup(com.feedhenry.studio.StudioBean.GROUP_DEVELOPER)) { %>
    <li class="apps-tab">
      <a id="apps_tab" href="#tabs-1">Apps</a>
    </li>

    <% if(studio.getProperty("pluginsEnabled").equals("true")){ %>
    <li class="plugins-tab">
      <a id="plugins_tab" href="#tabs-2">Plugins</a>
    </li>
    <% } %>
  <%}%>

  <% if(studio.hasRole(com.feedhenry.studio.StudioBean.ROLE_DEVADMIN) && studio.getProperty("nodejsEnabled").equals("true")) {%>
    <% if(studio.getProperty("cloudEnvironmentEnabled").equals("true")){ %>
    <li class="environments-tab">
        <a id="environments_tab" href="#tabs-7">Cloud Environments</a>
    </li>
    <%}%>
  <%}%>

  <% if (studio.inGroup(com.feedhenry.studio.StudioBean.GROUP_REPORTING)) { %>
    <li class="reporting-tab">
      <a id="reporting_tab" href="#tabs-5">Reporting</a>
    </li>
  <% } %>

  <% if ( studio.inGroup(com.feedhenry.studio.StudioBean.GROUP_ARM) || 
          studio.inGroup(com.feedhenry.studio.StudioBean.GROUP_USER_ADMIN) || 
          (studio.inGroup(com.feedhenry.studio.StudioBean.GROUP_DEVELOPER) && studio.getProps().optBoolean("deployment-targets-enabled", true) && studio.getProperty("nodejsEnabled").equals("true")) ) { %>
  <li class="admin-tab">
    <a id="admin_tab" href="#tabs-6">Admin</a>
  </li>
  <% } %>

  <li class="account-tab">
    <a id="account_tab" href="#tabs-3">My Account</a>
  </li>
</ul>

<div id="main_tabs_panels" class="ui-layout-content">
  <%@ include file="./dashboard/dashboard_tab.html" %>

    <% if(studio.getProperty("appforms-enabled-feedhenry2").equals("true") && studio.hasFormsRole()){ %>
        <jsp:include page="./forms/forms_tab.html" />
    <% } %>

  <% if (studio.inGroup(com.feedhenry.studio.StudioBean.GROUP_DEVELOPER)) { %>
    <jsp:include page="./apps/apps_tab.html" />


    <% if(studio.getProperty("pluginsEnabled").equals("true")){ %>
      <%@ include file="./plugins/plugins_snippets.html" %>
      <%@ include file="./plugins/plugins_tab.html" %>
    <% } %>
    
  <%}%>

  <% if(studio.hasRole(com.feedhenry.studio.StudioBean.ROLE_DEVADMIN)) {%>
    <% if(studio.getProperty("cloudEnvironmentEnabled").equals("true")){ %>
    <%@ include file="./cloud_environment/cloud_environment_tab.html" %>
    <%}%>
  <%}%>

  <% if ( studio.inGroup(com.feedhenry.studio.StudioBean.GROUP_ARM) || 
          studio.inGroup(com.feedhenry.studio.StudioBean.GROUP_USER_ADMIN) || 
          (studio.inGroup(com.feedhenry.studio.StudioBean.GROUP_DEVELOPER) && studio.getProps().optBoolean("deployment-targets-enabled", true) && studio.getProperty("nodejsEnabled").equals("true")) ) { %>
    <%@ include file="./admin/admin_tab.html" %>
  <% } %>

  <% if (studio.inGroup(com.feedhenry.studio.StudioBean.GROUP_REPORTING)) { %>
    <%@ include file="./reporting/reporting_tab.html" %>
  <% } %>

  <%@ include file="./account/account_tab.html" %>
</div>