<div id="header_user_info">
  
<% if (ide.isLoggedIn()) { %>
  <!--  only show user details if logged in -->
  <span><%=ide.getEmail()%> (<%=ide.getAccountType()%>)</span>
<% } %>

<% if ( ide.getProperty("studio.landing.auth").equals(com.feedhenry.studio.IDEWebBean.IDE_LANDING) || ide.getProperty("studio.landing.noauth").equals(com.feedhenry.studio.IDEWebBean.IDE_LANDING) ) { %>
  <a href="/?a=<%=com.feedhenry.studio.IDEWebBean.IDE_LANDING%>" class="<%=pageName.equals(com.feedhenry.studio.IDEWebBean.IDE_LANDING) ? "active" : ""%>">Home</a>
<% } %>

<% if (ide.isLoggedIn()) { %>
  <!--  only show studio if logged in -->
  <a href="/?a=<%=com.feedhenry.studio.IDEWebBean.IDE_INDEX%>" class="<%=pageName.equals(com.feedhenry.studio.IDEWebBean.IDE_INDEX) ? "active" : ""%>">Studio</a>
<% } %>

  <a target="_blank" href="<%=ide.getProperty("studio-js-docs-url")%>">Docs</a>
  <a target="_blank" href="<%=ide.getProperty("studio-js-support-url")%>">Support</a>
  
<% if("true".equals(ide.getProperty("studio-js-hirink-link"))) { %>
  <!--  only show hiring link if switched on -->
  <a target="_blank" href="<%=ide.getProperty("studio-js-hiring-url")%>">We're Hiring</a>
<% } %>

<% if (ide.isLoggedIn()) { %>
  <script>
  var signOut = function () { 
    $.post('/box/srv/1.1/act/sys/auth/logout',
      {'feedhenry':'true'},
      function () {
        document.location = document.location;
      });
  };
  </script>
  <a onclick="signOut();">Sign Out</a>
<% } else { %>
  <a href="/?a=<%=com.feedhenry.studio.IDEWebBean.IDE_LOGIN%>" class="<%=pageName.equals(com.feedhenry.studio.IDEWebBean.IDE_LOGIN) ? "active" : ""%>">Login/Register</a>
<% } %>
  

</div>