#header_logo
{
  background-image:url(../img/feedhenry_logo.png);
}

#register_form
{
  display:none;
}

#login_form, #forgot_form 
{
  -moz-border-radius:16px;
  -moz-box-shadow:none;
  -webkit-border-radius:16px;
  -webkit-box-shadow:none;
  border-radius:16px;
  box-shadow:none;
  border:none;
  background-image:url(../img/login_bg.png);
  background-repeat:no-repeat;
  width:100%;
  height:278px;
}

.input-form .input-form-header
{
  display:none;
}

.input-form fieldset
{
  margin-top:1.5em;
  *padding-top:1.5em; /* Target IE7 as it doesn't like margin-top of the fieldset. */
}

.input-form-element
{
  width:305px;
}

.input-form-text
{
  color:#ccc !important;
}

.input-form .form-field label
{
  font-size: 0.9em;
}

p.forgot-password a
{
  font-size: 0.85em;
}

p.input-form-footer
{
  font-size:0.7em;
}

.input-form legend
{
  font-size: 1.4em;
}

input[type=button].input-form-button.ui-state-default
{
  background-image:url(../img/login_button.png);
  background-position: -5px -3px;
  font-size: 1.15em;
  width:7em;
  margin:0;
}
input[type=button].input-form-button.ui-state-hover
{
  background-position: -5px -103px;
}

.input_form input
{
  height:1.8em;
}

.input-form .form-field
{
  height:2.1em;
}

.input-form input.error {
  border: 3px solid #f00;
}

.input-form label.error
{
  display:none !important;
}

#login_device_logos, #login_device_logos_wrapper
{
  display:none;
}