<%@ page contentType="text/html"
         import="java.util.*
                ,org.tssg.millicore.server.*
                ,org.apache.log4j.*
                "
         pageEncoding="UTF-8"
         session="false"
%><jsp:useBean id="ide" scope="request" class="org.tssg.millicore.web.ide.IDEWebBean"></jsp:useBean>
<%!
  Logger errlog = Common.selog;
%>
<%
ide.init( application );
try {
  if ( ide.initreq( request, response, org.tssg.millicore.web.ide.IDEWebBean.IDE_LANDING ) ) {
    if( ide.canProceed( request, response, org.tssg.millicore.web.ide.IDEWebBean.IDE_LANDING ) ) {

      String btnText = "Login";
      String btnTarget = "/?a=login";    
      if( ide.isLoggedIn() ) {
        btnText = "App Studio";
        btnTarget = "/?a=index";
      }
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FeedHenry Studio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="<%= ide.getThemeStaticAssetPath("/js/html5shim.js")%>"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="<%= ide.getThemeStaticAssetPath("/css/bootstrap.min.css")%>">
    <link rel="stylesheet" href="<%= ide.getThemeStaticAssetPath("/css/style.css")%>">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      .topbar-inner{
        height: 25px;
      }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="<%= ide.getThemeStaticAssetPath("/js/bootstrap-tabs.js")%>"></script>
  <script type="text/javascript">
    $('.tabs').tabs();
    
    function switchTab(id){
      //$(".row").removeClass("active");
      //$("#" + id).addClass("active");
      $("#" + id + "Link").data('track', 'false').click();
    }
    
  
  </script>
  
    <!-- Mixpanel stuff -->
    <script type="text/javascript">
        var mpEnabled = <%=ide.getProperty("studio.landing.mixpanel.enabled")%>;
        var mpTestMode = <%=ide.getProperty("studio.landing.mixpanel.test")%>;
        var mpq = [];
        if (mpEnabled) {
          mpq.push(["init", "<%=ide.getProperty("studio.landing.mixpanel.apikey")%>"]);
          (function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";
          b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+
          "//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];
          a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push(
          [f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links",
          "track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<
          d.length;c++){mpq[d[c]]=e(d[c])}})(); 
          if( mpTestMode ) {
            mpq.push(["set_config", {'test': 1 }]);
          }
        }
        
    </script>
  </head>

  <body>


    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <ul class="nav">
            <li></li>
          </ul>
          
          
            <!--<form action="/login" method="post" class="pull-right">
              <input name="username" class="input-small" type="text" placeholder="Username">
              <input name="password" class="input-small" type="password" placeholder="Password">
              <button class="btn" type="submit">Sign in</button>
            </form>-->
          
        </div>
      </div>
    </div>

    <div class="container">
    <img class="logoWest" src="/static/c/<%= ide.getStaticAssetPath("ide/themes/enterprise/img/feedhenry_logo.png")%>" />
    <img class="logoEast" src="<%= ide.getThemeStaticAssetPath("/img/powered_by_cloudfoundry.png")%>" />
    

    <!-- Main hero unit for a primary marketing message or call to action -->
    <ul class="tabs toptabs" data-tabs="tabs">
      <li class="active"><a href="#welcome">Welcome</a></li>
        <li><a id="gettingstartedLink" href="#gettingstarted">Getting Started</a></li>
        <li><a id="installingLink" href="#installing">Installing FHC</a></li>
        <li><a id="studioLink" href="#studio">App Studio</a></li>
        <li><a href="#staging">Staging to Cloud Foundry</a></li>
    </ul>

      <div class="hero-unit tab-content pill-content">
      <div id="welcome" class="row active">
        <div class="span7">
          <h2>Build apps powered by Cloud Foundry (Beta)</h2>
          <p>Build powerful cloud powered apps with Feedhenry. Write in HTML5 and JavaScript. Deploy to your Cloud Foundry, and have a cloud scalable app on 5 platforms 
          instantly!</p><br />
          <p>
            <a href="#" class="btn primary large" onclick="switchTab('gettingstarted')">Get Started &raquo;</a>
            
          </p>
          <p class="tab-footer"><%=ide.getProperty("studio.landing.legaltext")%></p>
        </div>
        <div class="span7 video">
          <iframe class="vimeo" src="https://player.vimeo.com/video/34086215?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
       <div id="gettingstarted" class="row">
         <div class="span14">
           <h2>Get started with your CloudFoundry.com account</h2>
           <p>If you already have a CloudFoundry.com account, you can use it to log in to FeedHenry and start creating apps right now!</p>
           <p>If not:</p>
           <ol class="tab-list">
             <li>Head on over to <span><a target="_blank" href="http://www.cloudfoundry.com">www.cloudfoundry.com</a></span></li> 
             <li>Register with the promo code <span class="promo">"feedhenry"</span> for instant access</li> 
           </ol>
           <br/>
        </div>
        <div class="span7">
          <p>The recommended way to use FeedHenry is via the FHC Command line Tool.</p>
          <p><a href="#" onclick="switchTab('installing')" class="btn primary large">Install FHC Now &raquo;</a></p>
        </div>
        <div class="span7">
          <p>If you prefer a graphical interface check out the FeedHenry App Studio.</p>
          <p><a href="#" onclick="switchTab('studio')" class="btn primary large">App Studio &raquo;</a></p>
        </div>
      </div>
      
        <!--<div class="span7">
            <h2>No CloudFoundry.com account?</h2>
            <fieldset>
            <legend>Register for a free FeedHenry.com account</legend>
            <div>
               <label for="register_name">Name:</label><input name="register_name" id="register_name" type="text">
            </div>
            <div>
               <label for="register_email">Email:</label><input name="register_email" id="register_email" type="text">
            </div>
            <div>
               <label for="register_password">Password:</label><input name="register_password" id="register_password" type="password">
            </div>
            <div>
               <label for="register_confirm">Confirm:</label><input name="register_confirm" id="register_confirm" type="password">
            </div>
            <input id="register_domain" type="hidden" name="register_domain" value="apps">
            
            </fieldset>
            
            <p><a href="login.html" class="btn primary large">Sign Up</a></p>
          </div>
      </div>-->
    
    <div id="installing" class="row">
          <div class="span7">
              <h2>Installing FHC</h2>
              <p>The FHC command line utility gives access to the entire FeedHenry suite through your command line. It's a NodeJS utility which allows you to quickly get started staging your apps to Cloud Foundry.</p>
          <pre class="code">
$ sudo npm install -g fh-fhc 
$ fhc -v
$ fhc target mobilecf.feedhenry.com
$ fhc login you@cloudfoundry.com password
$ fhc apps                                
╔═════════════════╤═══════════╤═══════════════════╗
║  ID             │ Title     │Description        ║ 
╠═════════════════╪═══════════╪═══════════════════╣
║  dttK1K42_y...  │ First App │Simple store finder║ 
╚═════════════════╧═══════════╧═══════════════════╝
          </pre>
        </div>
          <div class="span7 video">
          <iframe class="vimeo" src="https://player.vimeo.com/video/33966777?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

        </div>                 
    </div>
    
    <div id="staging" class="row">
        <div class="span7">
            <h2>Staging your first app to Cloud Foundry</h2>
            <p>Learn how to stage an app you've created to public Cloud Foundry. 
        We start with in app in GitHub, add it to the FeedHenry platform then stage it's server side to Cloud Foundry.  
        </p>

      </div>
        <div class="span7 video">
        <iframe class="vimeo" src="https://player.vimeo.com/video/34675315?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      </div>
    </div>
  
    <div id="studio" class="row">
        <div class="span7">
            <h2>App Studio</h2>
            <p>Learn about the FeedHenry App Studio. 
            This powerful web-based tool allows you to build and manage your app portfolio. 
            </p><br />            
            <p><a target="_blank" href="<%=btnTarget%>" class="btn primary large">Get Started Now! &raquo;</a></p>
      </div>
        <div class="span7 video">
        <iframe class="vimeo" src="https://player.vimeo.com/video/34513716?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      </div>
    </div>
    
  </div>

      <!-- Example row of columns -->
      <div class="row docs">
        <div class="span5">
          <h2>FeedHenry on Github</h2>
          <img src="<%= ide.getThemeStaticAssetPath("/images/github.png")%>" alt="Github" class="pull-left thumb">
          <p>Browse or clone our selection of template apps - a great starting place with FeedHenry. Contribute to our open source projects.</p>
          <a class="btn" target="_blank" href="http://www.github.com/feedhenry">Browse the Repo &raquo;</a>
        </div>
        <div class="span6">
          <h2>Tutorials</h2>
          <img src="<%= ide.getThemeStaticAssetPath("/images/tutorials.png")%>" alt="Tutorials" class="pull-left thumb">
          <p>Learn how to utilize the cloud to hash then cache data from multiple sources in the cloud. Localize an app, cloud powered language assets make corrections and updates a breeze.</p>
          <a class="btn" target="_blank" href="http://docs.feedhenry.com/tutorials">Browse our tutorials &raquo;</a>
       </div>
        <div class="span5">
          <h2>Video Library</h2>
          <img src="<%= ide.getThemeStaticAssetPath("/images/videos.png")%>" alt="Videos" class="pull-left thumb">
          <p>See the FeedHenry Video Library for some great quick start guides and tours of the product</p>
          <a class="btn" target="_blank" href="http://docs.feedhenry.com/videos">View our videos &raquo;</a>
          
        </div>
      </div>
      <hr>
      <!-- Example row of columns -->
      <div class="row docs">
        <div class="span5">
          <h2>API Docs</h2>
          <img src="<%= ide.getThemeStaticAssetPath("/images/apis.png")%>" alt="APIs" class="pull-left thumb">
          <p>Read about the $fh APIs that exist to make calls to the FeedHenry cloud, or access on-device functionality not normally available to HTML5 apps.</p>
          <a class="btn" target="_blank" href="http://docs.feedhenry.com/api">Read the API Docs &raquo;</a>
        </div>
        <div class="span6">
          <h2>FHC Documentation</h2>
          <img src="<%= ide.getThemeStaticAssetPath("/images/fhc.png")%>" alt="FHC" class="pull-left thumb">
          <p>Learn about FHC, it's commands, and how you can use this utilitiy as a replacement for the studio to manage, edit and build your apps</p>
          <a class="btn" target="_blank" href="http://docs.feedhenry.com/fhc">Learn about FHC &raquo;</a>
       </div>
        <div class="span5">
          <h2>Developer Blog</h2>
          <img src="<%= ide.getThemeStaticAssetPath("/images/blog.png")%>" alt="Blog" class="pull-left thumb">  
          <p>Read the FeedHenry developer blog, where you can find our latest blog articles </p>
          <a class="btn" target="_blank" href="http://developer.feedhenry.com/blog">View the Blog &raquo;</a>
          </div>
        
      </div>

      <footer>
        <p>&copy; Feedhenry 2012</p>
      </footer>

    </div> <!-- /container -->
    
    <!-- Mixpanel stuff - bind to all anchor tags when clicked -->
    <script>
    $(document).ready(function () {
      if (mpEnabled) {
        // Track tabs and links
        // We can track links here because we've set the target to _blank for all <a> tags
        // This means the page doesn't get replaced, allowing mixpanel to track
        $('a').bind('click', function (e) {
          var thisA = $(this);
          // To ensure we don't track both button clicks and tabs if one links to the other,
          // lets check if we shouldn't track
          if (thisA.data('track') !== 'false') {
            var buttonName = thisA.text().replace(/\s/g, '_');
            mpq.track(buttonName + '-clicked'); 
          } else {
            thisA.data('track', '');
          }
        });
        // track page also
        mpq.track('page-loaded');
      }
    });
    </script>
  </body>
</html>
<%
    }
  }
} catch( Exception e ) {
  errlog.error("ide",e);
  ide.addExplainError(e);
}
finally {
  out.println(ide.outputExplain());
}
%>
