<div id="tabs-6">
  <div id="admin_layout" class="container-fluid">

    <div class="row-fluid">
      <ul class="breadcrumb"></ul>
    </div>

    <div class="row-fluid">
      <ul class="nav nav-list span2 well admin_nav_list">
        <li class="nav-header">Administration</li>
        <li>
          <a href="#" data-controller="admin.users.controller">
            <i class="icon-user"></i>
            Users
          </a>
        </li>
        <!-- <li>
          <a href="#" data-controller="admin.groups.controller">
            <i class="icon-group"></i>
            Groups
          </a>
        </li> -->
        <% if(studio.getProps().optBoolean("arm-auth-policy-enabled", false)) { %>
        <li>
          <a href="#" data-controller="admin.authpolicy.controller">
            <i class="icon-key"></i>
            Auth Policies
          </a>
        </li>
        <% } %>
        <li class="nav-header">Mobile App Management</li>
        <li>
          <a href="#" data-controller="admin.stores.controller">
            <i class="icon-globe"></i>
            App Stores
          </a>
        </li>
        <li>
          <a href="#" data-controller="admin.storeitems.controller">
            <i class="icon-pencil"></i>
            Store Items
          </a>
        </li>
        <li>
          <a href="#" data-controller="admin.devices.controller">
            <i class="icon-phone"></i>
            Devices
          </a>
        </li>
      </ul>

      <!-- Hide this initially and let javascript show it when its ready -->
      <div class="layout-content span10">

        <!-- Users Templates -->
        <div id="useradmin_user_list" class="hidden_template row-fluid">
          <div id="alerts"></div>
          <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="useradmin_users_table"></table>
        </div>

        <div id="useradmin_user_create" class="hidden_template row-fluid">
          <div id="alerts"></div>
          <form class="well form-horizontal">
            <fieldset>
              <legend>Create a User</legend>
              <p>Here you can create a user for your domain.</p>
              <div class="control-group">
                <label class="control-label" for="create_user_id">User ID</label>
                <div class="controls">
                  <input type="text" class="input-xxlarge" id="create_user_id" placeholder="User ID"></div>
              </div>
              <div class="control-group">
                <label class="control-label" for="create_user_password">Password (Optional)</label>
                <div class="controls">
                  <input type="password" class="input-xxlarge" id="create_user_password" placeholder="Password"></div>
              </div>
              <div class="control-group">
                <label class="control-label" for="create_user_email">Email Address (Optional)</label>
                <div class="controls">
                  <input type="text" class="input-xxlarge" id="create_user_email" placeholder="Email Address"></div>
              </div>
              <div class="control-group">
                <label class="control-label" for="create_user_name">Name (Optional)</label>
                <div class="controls">
                  <input type="email" class="input-xxlarge" id="create_user_name" placeholder="Name"></div>
              </div>
              <div class="control-group">
                <label class="control-label" for="create_user_invite">Invite</label>
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" class="input-xxlarge" id="create_user_invite">Send Invite Email?</label>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Roles</label>
                <div class="controls swap-select" id="create_user_role_swap">
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-from">
                      <option>Loading...</option>
                    </select>
                  </div>
                  <div class="span1">
                    <button class="btn add span12">&gt;</button>
                    <button class="btn remove span12">&lt;</button>
                  </div>
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-to">
                    </select>
                  </div>
                </div>
              </div>

              <!-- <div class="control-group">
                <label class="control-label">Store Items</label>
                <div class="controls swap-select" id="create_user_storeitem_swap">
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-from">
                      <option>Loading...</option>
                    </select>
                  </div>
                  <div class="span1">
                    <button class="btn add span12">&gt;</button>
                    <button class="btn remove span12">&lt;</button>
                  </div>
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-to">
                    </select>
                  </div>
                </div>
              </div> -->

              <!-- <div class="control-group">
                <label class="control-label">Groups</label>
                <div class="controls swap-select" id="create_user_group_swap">
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-from">
                      <option>Loading...</option>
                    </select>
                  </div>
                  <div class="span1">
                    <button class="btn add span12">&gt;</button>
                    <button class="btn remove span12">&lt;</button>
                  </div>
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-to">
                    </select>
                  </div>
                </div>
              </div> -->

            <div class="form-actions">
              <button type="submit" class="btn btn-primary create_user_btn">Create User</button>
            </div>
          </fieldset>
        </form>
      </div>

      <div id="useradmin_user_update" class="hidden_template row-fluid">
        <div id="alerts"></div>
        <form class="well form-horizontal">
          <fieldset>
            <legend>Update a User</legend>
            <p>Here you can update a user for your domain.</p>
            <div class="control-group">
              <label class="control-label" for="update_user_id">User ID</label>
              <div class="controls">
                <input type="text" disabled="disabled" class="input-xxlarge" id="update_user_id" placeholder="User ID"></div>
            </div>
            <div class="control-group">
              <label class="control-label" for="update_user_password">Password (Optional)</label>
              <div class="controls">
                <input type="password" class="input-xxlarge" id="update_user_password" placeholder="Password"></div>
            </div>
            <div class="control-group">
              <label class="control-label" for="update_user_email">Email Address (Optional)</label>
              <div class="controls">
                <div class="input-append">
                  <input type="text" class="input-xxlarge" id="update_user_email" placeholder="Email Address"><button type="submit" class="btn invite_user_btn">Send Invite Email</button>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="update_user_name">Name (Optional)</label>
              <div class="controls">
                <input type="email" class="input-xxlarge" id="update_user_name" placeholder="Name"></div>
            </div>

            <div class="control-group">
              <label class="control-label" for="update_user_enabled">Enabled</label>
              <div class="controls">
                <div class="input-append">
                  <input type="checkbox" class="input-xxlarge" id="update_user_enabled">
                  <button class="btn enable_user_button" type="button">Enable User</button>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="update_user_blacklisted">Blacklisted</label>
              <div class="controls">
                <div class="input-append">
                  <input type="checkbox" class="input-xxlarge" id="update_user_blacklisted">
                  <button class="btn blacklist_user_button" type="button">Blacklist User</button>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Roles</label>
              <div class="controls swap-select" id="update_user_role_swap">
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-from">
                    <option>Loading...</option>
                  </select>
                </div>
                <div class="span1">
                  <button class="btn add span12">&gt;</button>
                  <button class="btn remove span12">&lt;</button>
                </div>
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-to">
                    <option>Loading...</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- <div class="control-group">
              <label class="control-label">Store Items</label>
              <div class="controls swap-select" id="update_user_storeitem_swap">
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-from">
                    <option>Loading...</option>
                  </select>
                </div>
                <div class="span1">
                  <button class="btn add span12">&gt;</button>
                  <button class="btn remove span12">&lt;</button>
                </div>
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-to">
                    <option>Loading...</option>
                  </select>
                </div>
              </div>
            </div> -->

            <!-- <div class="control-group">
              <label class="control-label">Groups</label>
              <div class="controls swap-select" id="update_user_group_swap">
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-from">
                    <option>Loading...</option>
                  </select>
                </div>
                <div class="span1">
                  <button class="btn add span12">&gt;</button>
                  <button class="btn remove span12">&lt;</button>
                </div>
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-to">
                    <option>Loading...</option>
                  </select>
                </div>
              </div>
            </div> -->

            <div class="form-actions">
              <button type="submit" class="btn btn-primary update_user_btn">Update User</button>
            </div>
          </fieldset>
        </form>
      </div>

      <div id="useradmin_user_import" class="hidden_template row-fluid">
        <div id="alerts"></div>
        <form class="well">
          <h3>Import Users</h3>
          <p></p>
          <button type="submit" class="btn btn-primary import_user_btn">Import Users</button>
        </form>
      </div>

      <div id="useradmin_user_boolean_modal" class="modal hide fade hidden_template">
        <div class="alerts"></div>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>Alert</h3>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">No</a>
          <a href="#" class="btn btn-primary">Yes</a>
        </div>
      </div>

      <!-- Groups Templates -->
<!-- Removing GROUPS
      <div id="useradmin_group_list" class="hidden_template row-fluid">
        <div class="alerts"></div>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="useradmin_groups_table"></table>
      </div>

      <div id="useradmin_group_create" class="hidden_template row-fluid">
        <div class="alerts"></div>
        <form class="well">
          <h3>Create a Group</h3>
          <p>
            Groups can be used to group users together. For example, you can group users for one project together so they can see one another's apps.
          </p>
          <br/>
          <label>Group Name</label>
          <input type="text" class="span4 group_name" placeholder="Group Name (e.g. Project A Developers)" >
          <button type="submit" class="btn btn-primary create_group_btn">Create Group</button>
        </form>
      </div>

      <div id="useradmin_group_update" class="hidden_template row-fluid">
        <div class="alerts"></div>
        <form class="well">
          <h3>Update a Group</h3>
          <p>
            Groups can be used to group users together. For example, you can group users for one project together so they can see one another's apps.
          </p>
          <br/>
          <label>Group Name</label>
          <input type="text" class="span4" id="update_group_name" >
          <input type="hidden" id="update_group_id" >
          <button type="submit" class="btn btn-primary update_group_btn">Update Group</button>
        </form>
      </div>

      <div id="useradmin_group_boolean_modal" class="modal hide fade hidden_template">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>Alert</h3>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">No</a>
          <a href="#" class="btn btn-primary">Yes</a>
        </div>
      </div>
-->
      <!-- Storeitem templates -->
      <ul id="admin_store_items" class="hidden_template">
        <div class="admin_store_items_controls">
          <button class="btn btn-primary ">Create Store Item</button>
        </div>
      </ul>

      <li id="admin_store_item" class="hidden_template admin_store_item well">
        <div class="row-fluid">
          <div class="span2 icon_container">
            <img src="" alt="" class="icon" />
          </div>
          <div class="details span8">
            <h3 class="name"></h3>
            <p class="description"></p>
          </div>
          <div class="span2 controls">
            <button class="btn edit_store_item">Edit</button>
            <br/>
            <button class="btn btn-danger delete_store_item">Delete</button>
          </div>
        </div>
      </li>

      <div id="admin_store_item_create" class="hidden_template row-fluid">
        <form class="well form-horizontal">
          <h3>Create a new Store Item</h3>
          <br/>
          <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
              <input type="text" class="item_name input-xlarge" placeholder="Name">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Auth Token</label>
            <div class="controls">
              <input type="text" class="input-xlarge item_id" placeholder="Auth Token">
              <span class="help-inline">Your Auth Token can be used to identify your app when using $fh.auth to track app access events</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="textarea">Description</label>
            <div class="controls">
              <textarea class="input-xlarge item_description" id="textarea" rows="3"></textarea>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Groups</label>
            <div class="controls swap-select" id="store_item_group_swap">
              <div class="span2">
                <span>Available</span>
                <select multiple="multiple" class="span12 swap-from store_item_available_groups">
                </select>
              </div>
              <div class="span1">
                <button class="btn add span12">&gt;</button>
                <button class="btn remove span12">&lt;</button>
              </div>
              <div class="span2">
                <span>Member Of</span>
                <select multiple="multiple" class="span12 swap-to store_item_assigned_groups">
                </select>
              </div>
              <span class="help-inline span4"><br/>Members of the these groups will be able to view this Item in your App Store</span>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary create_store_item">Create Item</button>
          </div>
        </form>
      </div>

      <div id="admin_store_item_update" class="hidden_template row-fluid">
        <form class="well form-horizontal">
          <h3>Update Store Item</h3>
          <br/>
          <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
              <input type="text" class="item_name input-xlarge" placeholder="Name">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Auth Token</label>
            <div class="controls">
              <input type="text" class="input-xlarge item_id" placeholder="Auth Token">
              <span class="help-inline">Your Auth Token can be used to identify your app when using $fh.auth to track app access events</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="textarea">Description</label>
            <div class="controls">
              <textarea class="input-xlarge item_description" id="textarea" rows="3"></textarea>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Groups</label>
            <div class="controls swap-select" id="store_item_group_swap">
              <div class="span2">
                <span>Available</span>
                <select multiple="multiple" class="span12 swap-from store_item_available_groups">
                </select>
              </div>
              <div class="span1">
                <button class="btn add span12">&gt;</button>
                <button class="btn remove span12">&lt;</button>
              </div>
              <div class="span2">
                <span>Member Of</span>
                <select multiple="multiple" class="span12 swap-to store_item_assigned_groups">
                </select>
              </div>
              <span class="help-inline span4"><br/>Members of the these groups will be able to view this Item in your App Store</span>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary update_store_item">Update Item Details</button>
          </div>

          <div class="well store_item_binaries">
            <h3>Upload Icon & Binaries</h3>
            <div class="control-group">
              <label class="control-label" for="textarea">Icon</label>
              <div class="controls">
                <input type="file" class="store_item_icon input-xlarge"/>
                <span class="help-inline">Icons should be 128x128, and in PNG format.</span>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="textarea">Android Binary</label>
              <div class="controls">
                <input type="file" class="store_item_binary_android input-xlarge"/>
                <span class="help-inline">An Android binary consists of an APK signed for distribution.</span>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="textarea">iPhone Binary</label>
              <div class="controls">
                <input type="file" class="store_item_binary_android input-xlarge"/>
                <span class="help-inline">An iPhone binary consists of an signed IPA.</span>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="textarea">iPad Binary</label>
              <div class="controls">
                <input type="file" class="store_item_binary_android input-xlarge"/>
                <span class="help-inline">An iPad binary consists of an signed IPA.</span>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="textarea">iOS Universal Binary</label>
              <div class="controls">
                <input type="file" class="store_item_binary_android input-xlarge"/>
                <span class="help-inline">An iOS Universal binary consists of an signed IPA.</span>
              </div>
            </div>

          </div>
        </form>
      </div>

      <!-- AuthPolicy Templates -->
      <div id="auth_policies_list" class="hidden_template row-fluid">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="auth_policies_list_table"></table>
      </div>

      <div id="auth_policies_create" class="hidden_template row-fluid"></div>
      <div id="auth_policies_update" class="hidden_template row-fluid"></div>

    </div>
  </div>

</div>
</div>
