 <div id="tabs-6">
  <div id="admin_layout" class="container-fluid">

    <div class="row-fluid">
      <ul class="breadcrumb"></ul>
    </div>

    <div class="row-fluid">
      <ul class="nav nav-list span2 well admin_nav_list">
        <li class="nav-header">Administration</li>
        <li>
          <a href="#" data-controller="admin.users.controller">
            <i class="icon-user"></i>
            Users
          </a>
        </li>
        <!-- <li>
          <a href="#" data-controller="admin.groups.controller">
            <i class="icon-group"></i>
            Groups
          </a>
        </li> -->
        <% if(studio.getProps().optBoolean("arm-auth-policy-enabled", false)) { %>
        <li>
          <a href="#" data-controller="admin.authpolicy.controller">
            <i class="icon-key"></i>
            Auth Policies
          </a>
        </li>
        <% } %>
        <li class="nav-header">Mobile App Management</li>
        <li>
          <a href="#" data-controller="admin.stores.controller">
            <i class="icon-globe"></i>
            App Stores
          </a>
        </li>
        <li>
          <a href="#" data-controller="admin.storeitems.controller">
            <i class="icon-pencil"></i>
            Store Items
          </a>
        </li>
        <li>
          <a href="#" data-controller="admin.devices.controller">
            <i class="icon-phone"></i>
            Devices
          </a>
        </li>
      </ul>

      <!-- Hide this initially and let javascript show it when its ready -->
      <div class="layout-content span10">

        <!-- Users Templates -->
        <div id="useradmin_user_list" class="hidden_template row-fluid">
          <div id="alerts"></div>
          <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="useradmin_users_table"></table>
        </div>

        <div id="useradmin_user_create" class="hidden_template row-fluid">
          <div id="alerts"></div>
          <form class="well form-horizontal">
            <fieldset>
              <legend>Create a User</legend>
              <p>Here you can create a user for your domain.</p>
              <div class="control-group">
                <label class="control-label" for="create_user_id">User ID</label>
                <div class="controls">
                  <input type="text" class="input-xxlarge" id="create_user_id" placeholder="User ID"></div>
              </div>
              <div class="control-group">
                <label class="control-label" for="create_user_password">Password (Optional)</label>
                <div class="controls">
                  <input type="password" class="input-xxlarge" id="create_user_password" placeholder="Password"></div>
              </div>
              <div class="control-group">
                <label class="control-label" for="create_user_email">Email Address (Optional)</label>
                <div class="controls">
                  <input type="text" class="input-xxlarge" id="create_user_email" placeholder="Email Address"></div>
              </div>
              <div class="control-group">
                <label class="control-label" for="create_user_name">Name (Optional)</label>
                <div class="controls">
                  <input type="email" class="input-xxlarge" id="create_user_name" placeholder="Name"></div>
              </div>
              <div class="control-group">
                <label class="control-label" for="create_user_invite">Invite</label>
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" class="input-xxlarge" id="create_user_invite">Send Invite Email?</label>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Roles</label>
                <div class="controls swap-select" id="create_user_role_swap">
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-from">
                      <option>Loading...</option>
                    </select>
                  </div>
                  <div class="span1">
                    <button class="btn btn-inverse add span12">&gt;</button>
                    <button class="btn btn-inverse remove span12">&lt;</button>
                  </div>
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-to">
                    </select>
                  </div>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Auth Policies</label>
                <div class="controls swap-select" id="create_user_policy_swap">
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-from">
                      <option>Loading...</option>
                    </select>
                  </div>
                  <div class="span1">
                    <button class="btn btn-inverse add span12">&gt;</button>
                    <button class="btn btn-inverse remove span12">&lt;</button>
                  </div>
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-to">
                    </select>
                  </div>
                </div>
              </div>

              <!-- <div class="control-group">
                <label class="control-label">Store Items</label>
                <div class="controls swap-select" id="create_user_storeitem_swap">
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-from">
                      <option>Loading...</option>
                    </select>
                  </div>
                  <div class="span1">
                    <button class="btn btn-inverse add span12">&gt;</button>
                    <button class="btn btn-inverse remove span12">&lt;</button>
                  </div>
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-to">
                    </select>
                  </div>
                </div>
              </div> -->

              <!-- <div class="control-group">
                <label class="control-label">Groups</label>
                <div class="controls swap-select" id="create_user_group_swap">
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-from">
                      <option>Loading...</option>
                    </select>
                  </div>
                  <div class="span1">
                    <button class="btn btn-inverse add span12">&gt;</button>
                    <button class="btn btn-inverse remove span12">&lt;</button>
                  </div>
                  <div class="span2">
                    <select multiple="multiple" class="span12 swap-to">
                    </select>
                  </div>
                </div>
              </div> -->

            <div class="form-actions">
              <button type="submit" class="btn btn-primary create_user_btn">Create User</button>
            </div>
          </fieldset>
        </form>
      </div>

      <div id="useradmin_user_update" class="hidden_template row-fluid">
        <div id="alerts"></div>
        <form class="well form-horizontal">
          <fieldset>
            <legend>Update a User</legend>
            <p>Here you can update a user for your domain.</p>
            <div class="control-group">
              <label class="control-label" for="update_user_id">User ID</label>
              <div class="controls">
                <input type="text" disabled="disabled" class="input-xxlarge" id="update_user_id" placeholder="User ID"></div>
            </div>
            <div class="control-group">
              <label class="control-label" for="update_user_password">Password (Optional)</label>
              <div class="controls">
                <input type="password" class="input-xxlarge" id="update_user_password" placeholder="Password"></div>
            </div>
            <div class="control-group">
              <label class="control-label" for="update_user_email">Email Address (Optional)</label>
              <div class="controls">
                <div class="input-append">
                  <input type="text" class="input-xxlarge" id="update_user_email" placeholder="Email Address"><button type="submit" class="btn invite_user_btn">Send Invite Email</button>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="update_user_name">Name (Optional)</label>
              <div class="controls">
                <input type="email" class="input-xxlarge" id="update_user_name" placeholder="Name"></div>
            </div>

            <div class="control-group">
              <label class="control-label" for="update_user_enabled">Enabled</label>
              <div class="controls">
                <div class="input-append">
                  <input type="checkbox" class="input-xxlarge" id="update_user_enabled">
                  <button class="btn enable_user_button" type="button">Enable User</button>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="update_user_blacklisted">Not Marked for Data Purge</label>
              <div class="controls">
                <div class="input-append">
                  <input type="checkbox" class="input-xxlarge" id="update_user_blacklisted">
                  <button class="btn blacklist_user_button" type="button">Mark for Data Purge</button>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Roles</label>
              <div class="controls swap-select" id="update_user_role_swap">
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-from">
                    <option>Loading...</option>
                  </select>
                </div>
                <div class="span1">
                  <button class="btn btn-inverse add span12">&gt;</button>
                  <button class="btn btn-inverse remove span12">&lt;</button>
                </div>
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-to">
                    <option>Loading...</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Auth Policies</label>
              <div class="controls swap-select" id="update_user_policy_swap">
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-from">
                    <option>Loading...</option>
                  </select>
                </div>
                <div class="span1">
                  <button class="btn btn-inverse add span12">&gt;</button>
                  <button class="btn btn-inverse remove span12">&lt;</button>
                </div>
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-to">
                    <option>Loading...</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- <div class="control-group">
              <label class="control-label">Store Items</label>
              <div class="controls swap-select" id="update_user_storeitem_swap">
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-from">
                    <option>Loading...</option>
                  </select>
                </div>
                <div class="span1">
                  <button class="btn btn-inverse add span12">&gt;</button>
                  <button class="btn btn-inverse remove span12">&lt;</button>
                </div>
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-to">
                    <option>Loading...</option>
                  </select>
                </div>
              </div>
            </div> -->

            <!-- <div class="control-group">
              <label class="control-label">Groups</label>
              <div class="controls swap-select" id="update_user_group_swap">
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-from">
                    <option>Loading...</option>
                  </select>
                </div>
                <div class="span1">
                  <button class="btn btn-inverse add span12">&gt;</button>
                  <button class="btn btn-inverse remove span12">&lt;</button>
                </div>
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-to">
                    <option>Loading...</option>
                  </select>
                </div>
              </div>
            </div> -->

            <div class="form-actions">
              <button type="submit" class="btn btn-primary update_user_btn">Update User</button>
            </div>
          </fieldset>
        </form>
      </div>

      <div id="useradmin_user_import" class="hidden_template row-fluid">
        <div id="alerts"></div>
        <form class="well form-horizontal">
          <fieldset>
            <legend>Import Users</legend>
            <p>Here you can mass create users by uploading a CSV file</p><br>
            <p>Each line in your CSV file should be in the following format:<br>&lt;UserID&gt;,&lt;Email&gt;,&lt;Name&gt;,&lt;Password&gt;</p><br>
            <p>e.g.<br><br>joebloggs, joe.bloggs@example.com, Joe Bloggs, password<br>john, , John Bloggs, password<br>jane.bloggs, jane.bloggs@example.com, , password</p><br>

            <div class="control-group">
              <label class="control-label" for="import_users_file">CSV File</label>
              <div class="controls">
                <input class="input-file" id="import_users_file" type="file">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="import_users_invite">Invite</label>
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" class="input-xxlarge" id="import_users_invite">Send Invite Emails?</label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Roles</label>
              <div class="controls swap-select" id="import_users_role_swap">
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-from">
                    <option>Loading...</option>
                  </select>
                </div>
                <div class="span1">
                  <button class="btn btn-inverse add span12">&gt;</button>
                  <button class="btn btn-inverse remove span12">&lt;</button>
                </div>
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-to">
                  </select>
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Auth Policies</label>
              <div class="controls swap-select" id="import_users_policy_swap">
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-from">
                    <option>Loading...</option>
                  </select>
                </div>
                <div class="span1">
                  <button class="btn btn-inverse add span12">&gt;</button>
                  <button class="btn btn-inverse remove span12">&lt;</button>
                </div>
                <div class="span2">
                  <select multiple="multiple" class="span12 swap-to">
                  </select>
                </div>
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary import_user_btn">Import Users</button>
            </div>
          </fieldset>
        </form>
      </div>

      <!-- Groups Templates -->
<!-- Removing GROUPS
      <div id="useradmin_group_list" class="hidden_template row-fluid">
        <div class="alerts"></div>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="useradmin_groups_table"></table>
      </div>

      <div id="useradmin_group_create" class="hidden_template row-fluid">
        <div class="alerts"></div>
        <form class="well">
          <h3>Create a Group</h3>
          <p>
            Groups can be used to group users together. For example, you can group users for one project together so they can see one another's apps.
          </p>
          <br/>
          <label>Group Name</label>
          <input type="text" class="span4 group_name" placeholder="Group Name (e.g. Project A Developers)" >
          <button type="submit" class="btn btn-primary create_group_btn">Create Group</button>
        </form>
      </div>

      <div id="useradmin_group_update" class="hidden_template row-fluid">
        <div class="alerts"></div>
        <form class="well">
          <h3>Update a Group</h3>
          <p>
            Groups can be used to group users together. For example, you can group users for one project together so they can see one another's apps.
          </p>
          <br/>
          <label>Group Name</label>
          <input type="text" class="span4" id="update_group_name" >
          <input type="hidden" id="update_group_id" >
          <button type="submit" class="btn btn-primary update_group_btn">Update Group</button>
        </form>
      </div>

      <div id="useradmin_group_boolean_modal" class="modal hide fade hidden_template">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>Alert</h3>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">No</a>
          <a href="#" class="btn btn-primary">Yes</a>
        </div>
      </div>
-->
      <!-- Storeitem templates -->
      <ul id="admin_store_items" class="hidden_template">
        <div class="admin_store_items_controls">
          <button class="btn btn-primary ">Create Store Item</button>
        </div>
      </ul>

      <li id="admin_store_item" class="hidden_template admin_store_item well">
        <div class="row-fluid">
          <div class="span2 icon_container">
            <img src="" alt="" class="icon" />
          </div>
          <div class="details span8">
            <h3 class="name"></h3>
            <p class="description"></p>
          </div>
          <div class="span2 controls">
            <button class="btn edit_store_item">Edit</button>
            <br/>
            <button class="btn btn-danger delete_store_item">Delete</button>
          </div>
        </div>
      </li>

      <div id="admin_store_item_create" class="hidden_template row-fluid">
        <form class="well form-horizontal">
          <h3>Create a new Store Item</h3>
          <br/>
          <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
              <input type="text" class="item_name input-xlarge" placeholder="Name">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Auth Token</label>
            <div class="controls">
              <input type="text" class="input-xlarge item_id" placeholder="Auth Token">
              <span class="help-inline">Your Auth Token can be used to identify your app when using $fh.auth to track app access events</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="textarea">Description</label>
            <div class="controls">
              <textarea class="input-xlarge item_description" id="textarea" rows="3"></textarea>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Auth Policies</label>
            <div class="controls swap-select store_item_auth_policies_swap">
              <div class="span2">
                <span>Available</span>
                <select multiple="multiple" class="span12 swap-from store_item_available_auth_policies">
                </select>
              </div>
              <div class="span1">
                <button class="btn btn-inverse add span12">&gt;</button>
                <button class="btn btn-inverse remove span12">&lt;</button>
              </div>
              <div class="span2">
                <span>Assigned</span>
                <select multiple="multiple" class="span12 swap-to store_item_assigned_auth_policies">
                </select>
              </div>
              <span class="help-inline span4"><br/>These Auth Policies will be applied to $fh.auth calls in your Store Item.</span>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary create_store_item">Create Item</button>
          </div>
        </form>
      </div>

      <div id="admin_store_item_update" class="hidden_template row-fluid">
        <input type="hidden" class="item_guid">

        <form class="well form-horizontal">
          <img src="" class="store_item_icon right">
          <h3>Update Store Item</h3>
          <br/>
          <div class="control-group" style="display: inline-block;">
            <label class="control-label">Name</label>
            <div class="controls">
              <input type="text" class="item_name input-xlarge" placeholder="Name">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Auth Token</label>
            <div class="controls">
              <input type="text" class="input-xlarge item_id" placeholder="Auth Token">
              <span class="help-inline">Your Auth Token can be used to identify your app when using $fh.auth to track app access events</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="textarea">Description</label>
            <div class="controls">
              <textarea class="input-xlarge item_description" id="textarea" rows="3"></textarea>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Auth Policies</label>
            <div class="controls swap-select store_item_auth_policies_swap">
              <div class="span2">
                <span>Available</span>
                <select multiple="multiple" class="span12 swap-from store_item_available_auth_policies">
                </select>
              </div>
              <div class="span1">
                <button class="btn btn-inverse add span12">&gt;</button>
                <button class="btn btn-inverse remove span12">&lt;</button>
              </div>
              <div class="span2">
                <span>Assigned</span>
                <select multiple="multiple" class="span12 swap-to store_item_assigned_auth_policies">
                </select>
              </div>
              <span class="help-inline span4"><br/>These Auth Policies will be applied to $fh.auth calls in your Store Item.</span>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary update_store_item">Update Item Details</button>
          </div>

          <div class="well store_item_binaries">
            <h3>Upload App Binaries & App Store Icon</h3><br/>
            <table class="table table-bordered table-striped store_item_binaries_table">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Upload Binary</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>App Store Icon</td>
                  <td>Store Item icons should be 128x128px and in PNG format.</td>
                  <td><input type="file" id="icon_binary" class="input-xlarge"/></td>
                </tr>
                <tr>
                  <td>Android Binary</td>
                  <td>An Android binary consists of an <code>.apk</code> signed for distribution.</td>
                  <td><input type="file" id="android_binary" class="input-xlarge"/></td>
                </tr>
                <tr>
                  <td>iPhone Binary</td>
                  <td>An iPhone binary consists of an <code>.ipa</code> signed for distribution.</td>
                  <td><input type="file" id="iphone_binary" class="input-xlarge"/></td>
                </tr>
                <tr>
                  <td>iPad Binary</td>
                  <td>An iPad binary consists of an <code>.ipa</code> signed for distribution.</td>
                  <td><input type="file" id="ipad_binary" class="input-xlarge"/></td>
                </tr>
                <tr>
                  <td>iOS Universal Binary</td>
                  <td>An iOS Universal Binary consists of an <code>.ipa</code> signed for distribution.</td>
                  <td><input type="file" id="ios_binary" class="input-xlarge"/></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>

      <!-- AppStore template -->
      <div id="admin_app_store" class="hidden_template row-fluid">
        <input type="hidden" class="store_guid">
        <form class="well form-horizontal">
          <img src="" class="store_icon right">
          <h3>App Store</h3>
          <br/>

          <div class="control-group" style="display: inline-block;">
            <label class="control-label" for="store_name">Name</label>
            <div class="controls">
              <input type="text" class="store_name input-xxlarge" placeholder="My App Store">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="store_description">Description</label>
            <div class="controls">
              <textarea class="input-xxlarge store_description" id="store_description" rows="3"></textarea>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="textarea">Icon</label>
            <div class="controls">
              <input type="file" class="app_store_icon input-xlarge"/><br/>
              <span class="help-inline">Your App Store Icon should be 128x128 in size, and in PNG format.</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Store Items</label>
            <div class="controls swap-select app_store_store_items">
              <div class="span2">
                <span>Available</span>
                <select multiple="multiple" class="span12 swap-from app_store_store_items_available">
                </select>
              </div>
              <div class="span1">
                <button class="btn btn-inverse add span12">&gt;</button>
                <button class="btn btn-inverse remove span12">&lt;</button>
              </div>
              <div class="span2">
                <span>In Store</span>
                <select multiple="multiple" class="span12 swap-to app_store_store_items_assigned">
                </select>
              </div>
              <span class="help-inline span4"><br/>These Store Items will appear in your App Store</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Auth Policies</label>
            <div class="controls swap-select store_item_auth_policies_swap">
              <div class="span2">
                <span>Available</span>
                <select multiple="multiple" class="span12 swap-from store_item_available_auth_policies">
                </select>
              </div>
              <div class="span1">
                <button class="btn btn-inverse add span12">&gt;</button>
                <button class="btn btn-inverse remove span12">&lt;</button>
              </div>
              <div class="span2">
                <span>Assigned</span>
                <select multiple="multiple" class="span12 swap-to store_item_assigned_auth_policies">
                </select>
              </div>
              <span class="help-inline span4"><br/>Here you can define a list of supported auth policies for logging into your App Store.</span>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary update_app_store">Update App Store</button>
          </div>
        </form>
      </div>
      <!--/AppStore template -->

      <!-- AuthPolicy Templates -->
      <div id="auth_policies_list" class="hidden_template row-fluid">
        <div id="auth_policies_alerts"></div>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="auth_policies_list_table"></table>
      </div>

      <div id="auth_policies_create" class="hidden_template row-fluid">
      <form class="well form-horizontal">
        <legend>Create an Auth Policy</legend>
        <p>Here you can create an Authentication/Authorization policy which can be used by your applications.</p>
        <div class="control-group">
          <label class="control-label" for="create_policy_id">Policy Id</label>
          <div class="controls">
            <input id="create_policy_id" type="text" class="input-xxlarge" placeholder="Policy Id">
          </div>
        </div>
        <fieldset class="well">  <!-- Authentication well -->
          <legend>Authentication</legend>
          <div class="control-group">
            <label class="control-label">Type</label>
            <label class="select">
              <div class="controls">
                <select class="" id="create_policy_type">
                  <option value="OAUTH2" selected="selected"> oAuth2 </option>
                  <option value="LDAP"> LDAP </option>
                </select>
              </div>
            </label>
          </div>
          
          <div id="create_oauth2_div">
            
            <div class="control-group">
              <label class="control-label">Provider</label>
              <label class="select">
                <div class="controls">
                  <select id="create_policy_conf_provider">
                    <option value="google">Google</option>
                  </select>
                </div>
              </label>
            </div>
            
            <div class="control-group"> 
              <label class="control-label" for="create_client_id">Client Id</label>
              <div class="controls">
                <input id="create_client_id" type="text" class="input-xxlarge" placeholder="Client Id (provided by Oauth service (ie Google etc...))">
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="create_client_secret">Client Secret</label>
              <div class="controls">
                <input id="create_client_secret" type="text" class="input-xxlarge" placeholder="Client Secret (provided by Oauth service (ie Google etc...))">
              </div>
            </div>
            
            <div class="control-group">
              <!-- TODO - this 'Note' needs to be an info text or something -->
              <label class="control-label" for="create_oauth_callback">Oauth Callback Url</label>
              <div class="controls">
                <input id="create_oauth_callback" type="text" class="input-xxlarge" disabled="disabled">
              </div>
              <span class="help-inline span6">(Note* this should be added as the oauth callback url on the provider side i.e Google)</span>
            </div>

          </div> <!-- oauth div -->

          <div id="create_ldap_div">
            
            <div class="control-group">
              <label class="control-label">Authentication Method</label>
              <label class="select">
                <div class="controls">
                  <select id="create_authmethod_id">
                    <option value="simple">Simple</option>
                    <option value="DIGEST-MD5">Digest MD5 (SASL)</option>
                    <option value="CRAM-MD5">CRAM MD5 (SASL)</option>
                    <option value="GSSAPI">GSSAPI (Kerberos)</option>
                  </select>
                </div>
              </label>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="create_ldap_url_id">Url</label>
              <div class="controls">
                <input id="create_ldap_url_id" type="text" class="input-xxlarge" placeholder="ldap://foo.example.com:389/">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="create_dn_prefix_id">Distinguished Name (dn) Prefix</label>
              <div class="controls">
                <input id="create_dn_prefix_id" type="text" class="input-xxlarge" placeholder="normally 'uid' or 'cn'">
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="create_dn_id">Distinguished Name (dn) </label>
              <div class="controls">
                <input id="create_dn_id" type="text" class="input-xxlarge" placeholder="e.g. ou=people,dc=example,dc=com">
              </div>
            </div>
          </div>
        </fieldset> <!-- end of authentication well -->
        <fieldset class="well"> <!-- start of authorization well -->
          <legend>Authorization</legend>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox"><input type="checkbox" class="input" id="create_check_user_exists_id"/>Check if user exists on platform?</label>
            </div>
            <div class="controls">
              <label class="checkbox"><input type="checkbox" class="input" id="create_check_user_approved_id"/>Check if user approved for auth</label>
            </div>
          </div>

          <div class="control-group" id="create_approved_users">
            <label class="control-label">Users</label>
            <div class="controls swap-select" id="create_approved_users_auth_policies_swap">
              <div class="span2">
                <span>Available</span>
                <select multiple="multiple" class="span12 swap-from">
                </select>
              </div>
              <div class="span1">
                <button class="btn btn-inverse add span12">&gt;</button>
                <button class="btn btn-inverse remove span12">&lt;</button>
              </div>
              <div class="span2">
                <span>Approved</span>
                <select multiple="multiple" class="span12 swap-to">
                </select>
              </div>
              <!-- <span class="help-inline span4"><br/>These Auth Policies will be applied to $fh.auth calls in your Store Item.</span> -->
            </div>
          </div>

        </fieldset> <!-- authorization well -->
        <button type="button" id="create_policy_btn" class="btn btn-primary">Create Policy</button>
      </form>
      </div>

      <div id="auth_policies_update" class="hidden_template row-fluid">
        <form class="well form-horizontal">
          <legend>Update an Auth Policy</legend>
          <p>Here you can update an Authentication/Authorization policy which can be used by your applications.</p>
          <div class="control-group">
            <label class="control-label" for="update_policy_id">Policy Name</label>
            <div class="controls">
              <input id="update_policy_id" type="text" class="input-xxlarge" placeholder="Policy Name">
            </div>
          </div>
          <fieldset class="well">  <!-- Authentication well -->
            <legend>Authentication</legend>
            <div class="control-group">
              <label class="control-label">Type</label>
              <label class="select">
                <div class="controls">
                  <select class="" id="update_policy_type">
                    <option value="OAUTH2" selected="selected"> oAuth2 </option>
                    <option value="LDAP"> LDAP </option>
                  </select>
                </div>
              </label>
            </div>
            
            <div id="update_oauth2_div">
              
              <div class="control-group">
                <label class="control-label">Provider</label>
                <label class="select">
                  <div class="controls">
                    <select id="update_policy_conf_provider">
                      <option value="google">Google</option>
                    </select>
                  </div>
                </label>
              </div>
              
              <div class="control-group"> 
                <label class="control-label" for="update_client_id">Client Id</label>
                <div class="controls">
                  <input id="update_client_id" type="text" class="input-xxlarge" placeholder="Client Id (provided by Oauth service (ie Google etc...))">
                </div>
            </div>
              
              <div class="control-group">
                <label class="control-label" for="update_client_secret">Client Secret</label>
                <div class="controls">
                  <input id="update_client_secret" type="text" class="input-xxlarge" placeholder="Client Secret (provided by Oauth service (ie Google etc...))">
                </div>
              </div>
              
              <div class="control-group">
                <!-- TODO - this 'Note' needs to be an info text or something -->
                <label class="control-label" for="update_oauth_callback">Oauth Callback Url</label>
                <div class="controls">
                  <input id="update_oauth_callback" type="text" class="input-xxlarge" disabled="disabled">
                </div>
                <span class="help-inline span6">(Note* this should be added as the oauth callback url on the provider side i.e Google)</span>
              </div>
              
            </div> <!-- oauth div -->
            
            <div id="update_ldap_div">
              
              <div class="control-group">
                <label class="control-label">Authentication Method</label>
                <label class="select">
                  <div class="controls">
                    <select id="update_authmethod_id">
                      <option value="simple">Simple</option>
                      <option value="DIGEST-MD5">Digest MD5 (SASL)</option>
                      <option value="CRAM-MD5">CRAM MD5 (SASL)</option>
                      <option value="GSSAPI">GSSAPI (Kerberos)</option>
                    </select>
                  </div>
                </label>
              </div>
              
              <div class="control-group">
                <label class="control-label" for="update_ldap_url_id">Url</label>
                <div class="controls">
                  <input id="update_ldap_url_id" type="text" class="input-xxlarge" placeholder="ldap://foo.example.com:389/">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="update_dn_prefix_id">Distinguished Name (dn) Prefix</label>
                <div class="controls">
                  <input id="update_dn_prefix_id" type="text" class="input-xxlarge" placeholder="normally 'uid' or 'cn'">
                </div>
              </div>
              
              <div class="control-group">
                <label class="control-label" for="update_dn_id">Distinguished Name (dn) </label>
                <div class="controls">
                  <input id="update_dn_id" type="text" class="input-xxlarge" placeholder="e.g. ou=people,dc=example,dc=com">
                </div>
              </div>
            </div>
          </fieldset> <!-- authentication well -->
          <fieldset class="well"> <!-- authorization well -->
            <legend>Authorization</legend> 
            <div class="control-group">
              <div class="controls">
                <label class="checkbox"><input type="checkbox" class="input" id="update_check_user_exists_id"/>Check if user exists on platform?</label>
              </div>
              <div class="controls">
                <label class="checkbox"><input type="checkbox" class="input" id="update_check_user_approved_id"/>Check if user approved for auth</label>
              </div>

          <div class="control-group" id="update_approved_users">
            <label class="control-label">Users</label>
            <div class="controls swap-select" id="update_approved_users_auth_policies_swap">
              <div class="span2">
                <span>Available</span>
                <select multiple="multiple" class="span12 swap-from">
                </select>
              </div>
              <div class="span1">
                <button class="btn btn-inverse add span12">&gt;</button>
                <button class="btn btn-inverse remove span12">&lt;</button>
              </div>
              <div class="span2">
                <span>Approved</span>
                <select multiple="multiple" class="span12 swap-to">
                </select>
              </div>
              <!-- <span class="help-inline span4"><br/>These Auth Policies will be applied to $fh.auth calls in your Store Item.</span> -->
            </div>
          </div>

            </div>
          </fieldset> <!-- /authorization well -->
          <input type="hidden" name="guid" id="update_guid" value=""/>
        <button type="button" id="update_policy_btn" class="btn btn-primary">Update Policy</button>        
        </form>
      </div>

      </div>
    </div>

</div>
</div>

<!-- Binary Upload progress template -->
<div id="binary_upload_progress_template" class="hidden_template progress_area">
  <div class="progress progress-striped active" style="display: none">
    <div class="bar" style="width: 0%;"></div>
  </div>
  <span class="status" style="display: none"></span>
</div>

<!-- Binary Upload progress template -->
<span id="binary_upload_status" class="label label-inverse upload_status hidden_template"></span>

