<!-- link rel="stylesheet" href="/static/f/css/framework/<%= studio.getAssetCtrlVal() %>-style.css" type="text/css"-->

<link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/jquery.ui.core.css")%>"/>
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/jquery.ui.accordion.css")%>"/>
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/jquery.ui.button.css")%>"/>
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/jquery.ui.dialog.css")%>"/>
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/jquery.ui.tabs.css")%>"/>
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/jquery.ui.progressbar.css")%>"/>
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/jquery.ui.layout.css")%>"/>
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/jquery.ui.datepicker.css")%>"/>
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/jWizard.base.css")%>"/>
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/jqplot/jquery.jqplot.css")%>"/>
    <!-- link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/jsTree.css")%>"/ -->
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/jqgrid/ui.jqgrid.css")%>"/>
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/codemirror/docs.css")%>"/>
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/codemirror/jscolors.css")%>"/>
    <link rel="stylesheet" href="<%=studio.getStaticAssetPath("common/css/ui/framework/bootstrap.css")%>"/>


<%
List<String> themes = studio.getThemes();
for (String theme: themes) {
%>
<link rel="stylesheet" href="<%=studio.getStaticAssetPath("themes/" + theme + "/css/theme.css")%>" type="text/css" />
<%
}
%>

<link rel="shortcut icon" href="<%= studio.getThemeStaticAssetPath("/img/favicon.ico") %>" />
<link rel="stylesheet" href="<%=studio.getStaticAssetPath("themes/default/css/header_links.css")%>" type="text/css" />