<h5 class="steps">Choose Deployment Target</h5>
<div class="deploy_targets row-fluid"></div>
<%  if(studio.getProps().optBoolean("deployment-targets-enabled", true)){ %>
<div class="row-fluid">
    <button class="btn btn-large create_new_deploy_target pull-left">Create a new Deploy Target</button>
</div>
<% } %>
<div id="nodevers" class="row-fluid hide">
    <hr/>
    <h5 class="steps">Choose a version of nodejs</h5>

    <div class="row-fluid">
        <div class=" span4 pull-left node_logo_cropped"></div>
    </div>
    <div class="row-fluid">

        <select class="nodevers hide pull-left" id="devnodevers">
        </select>
        <select class="nodevers hide pull-left" id="livenodevers">
        </select>

      
        <div class="cleanstagearea">
        <label class="control-label" for="deploy_clean_stage">Clean Stage
          <input type="checkbox" class="input-xxlarge" id="deploy_clean_stage">
        </label>

      </div>

    </div>
</div>

<hr/>
<div class="row-fluid">
    <div class="deploy_action hidden">

        <button class="deploy_cloud_app btn btn-large btn-primary pull-right">Deploy Cloud App</button>

        <button class="abort_cloud_app_deploy btn btn-large btn-danger pull-right hidden">Cancel Deploy</button>
    </div>
</div>


<div class="cloud_deploy_progress row-fluid">
    <h4>Deployment Log</h4>

    <div class="progress active">
        <div class="bar" style="width: 0%;"></div>
    </div>
    <textarea class="progresslog span12" readonly></textarea>
</div>
