<div id="manage_apps_layout" class="row-fluid">

  <div id="template_message">
    <span id="template_message_1" class="insert-lang"></span><button id="template_clone_button" class="template_clone_button btn insert-lang"></button><span id="template_message_2" class="insert-lang"></span>
  </div>

  <div class="row-fluid">
    <ul class="nav nav-list span2 well manageapps_nav_list">
      <div id="cloud_logo"></div>
      <li class="template-restriction">
        <a href="#" data-controller="apps.quickstart.controller">
          <i class="icon-home"></i>
          Quickstart
        </a>
      </li>
      <li class="nav-header">Overview</li>
      <li>
        <a href="#" data-controller="apps.details.controller">
          <i class="icon-list-alt"></i>
          Details
        </a>
      </li>
      <li class="template-restriction">
        <a href="#" data-controller="apps.icons.controller">
          <i class="icon-picture"></i>
          Icons
        </a>
      </li>
      <li class="nav-header">Analytics</li>
      <% if(studio.getProps().optBoolean("reporting-reports-enabled")){ %>
      <li class="template-restriction">
        <a href="#" data-controller="reporting.app.controller">
          <i class="icon-bar-chart"></i>
          App Analytics
        </a>
      </li>
      <% } %>
      <% if(studio.getProps().optBoolean("stats-enabled")){ %>
      <li class="template-restriction nodejs_mode">
        <a href="#" data-controller="stats.controller">
          <i class="icon-bar-chart"></i>
          Stats
        </a>
      </li>
      <% } %>
      <li class="nav-header">Source</li>
      <li>
        <a href="#" data-controller="apps.editor.controller">
          <i class="icon-file"></i>
          Editor
        </a>
      </li>
      <li class="nav-header">Hybrid Client</li>
      <li class="template-restriction">
        <a href="#" data-controller="apps.quickstart.client.controller" data-hybrid="true">
          <i class="icon-briefcase"></i>
          Quickstart
        </a>
      </li>
      <li class="template-restriction">
        <a href="#" data-controller="apps.build.controller">
          <i class="icon-share"></i>
          Build
        </a>
      </li>
      <li class="template-restriction">
        <a href="#" data-controller="apps.export.controller">
          <i class="icon-external-link"></i>
          Export
        </a>
      </li>
      <li>
        <a href="#" data-controller="apps.configuration.controller">
          <i class="icon-wrench"></i>
          Configuration
        </a>
      </li>
      <li class="template-restriction">
        <a href="#" data-controller="apps.push.controller">
          <i class="icon-hand-up"></i>
          Push Notification
        </a>
      </li>
      <li>
        <a href="#" data-controller="apps.libraries.controller">
          <i class="icon-briefcase"></i>
          Libraries
        </a>
      </li>
      <li class="nav-header template-restriction">Cloud Management</li>
      <li class="template-restriction nodejs_mode">
        <a href="#" data-controller="apps.cloud.dashboard.controller">
          <i class="icon-dashboard"></i>
          Dashboard
        </a>
      </li>
      <li class="template-restriction nodejs_mode">
        <a href="#" data-controller="apps.environment.controller">
          <i class="icon-cogs"></i>
          Environment Variables
        </a>
      </li>
      <li class="template-restriction nodejs_mode">
        <a href="#" data-controller="apps.deploy.controller">
          <i class="icon-cloud"></i>
          Deploy
        </a>
      </li>
      <li class="template-restriction nodejs_mode">
        <a href="#" data-controller="apps.cloudnotifications.controller">
          <i class="icon-envelope"></i>
          Events & Alerts
        </a>
      </li>
      <% if(studio.getProps().optBoolean("cloudresources-enabled")){ %>
      <li class="template-restriction nodejs_mode">
        <a href="#" data-controller="apps.cloudresources.controller">
          <i class="icon-dashboard"></i>
          Resources
        </a>
      </li>
      <% } %>
      <li class="template-restriction">
        <a href="#" data-controller="apps.logging.controller">
          <i class="icon-list"></i>
          Logs
        </a>
      </li>
      <li class="template-restriction nodejs_mode">
            <a href="#" data-controller="apps.plugins.controller">
                <i class="icon-th"></i>
                Plugins
            </a>
      </li>
      <li class="template-restriction nodejs_mode">
        <a href="#" data-controller="apps.endpoints.controller">
          <i class="icon-lock"></i>
          Endpoints
        </a>
      </li>
    </ul>

    <div id="app_content" class="span7">
      
        <% if(studio.getProps().optBoolean("cloudresources-enabled")){ %>
        <%@ include file="./cloudresources.html"%>    
        <% } %>


        <%@ include file="./cloudplugins.html"%>
        <%@ include file="./cloudnotifications.html"%>    
        <%@ include file="./logdetails.html"%>    

        <%@ include file="./quickstart.html"%>       

        <%@ include file="./manage_details.html"%>
        
        <%@ include file="./manage_frameworks.html"%>
        
        <%@ include file="./manage_icons.html"%>
        
        <%@ include file="./manage_export.html"%>
        
        <%@ include file="./manage_publish.html"%>
        
        <%@ include file="./editor_files.html"%>

        <div id="configuration_container" class="tabbable">
          <div class="fh-box-outer">
            <h4 class="fh-box-header">
              Hybrid App Configuration
            </h4>
            <div class="fh-box-inner">
              <ul class="nav nav-tabs">
                <li>
                  <a href="#configuration_studio_container" data-toggle="tab" data-controller="apps.configuration.studio.controller">Preview</a>
                </li>
                <li>
                  <a href="#configuration_embed_container" data-toggle="tab" data-controller="apps.configuration.embed.controller">Embed</a>
                </li>
                <li>
                  <a href="#configuration_iphone_container" data-toggle="tab" data-controller="apps.configuration.iphone.controller">iPhone</a>
                </li>
                <li>
                  <a href="#configuration_ipad_container" data-toggle="tab" data-controller="apps.configuration.ipad.controller">iPad</a>
                </li>
                <li>
                  <a href="#configuration_ios_container" data-toggle="tab" data-controller="apps.configuration.ios.controller">iOS</a>
                </li>
                <li>
                  <a href="#configuration_android_container" data-toggle="tab" data-controller="apps.configuration.android.controller">Android</a>
                </li>
                <li>
                  <a href="#configuration_blackberry_container" data-toggle="tab" data-controller="apps.configuration.blackberry.controller">Blackberry</a>
                </li>
                <li>
                  <a href="#configuration_windowsphone7_container" data-toggle="tab" data-controller="apps.configuration.windowsphone.controller">Windows Phone</a>
                </li>
              </ul>
              <div class="tab-content">
                <%@ include file="./configuration_studio.html"%>            
                <%@ include file="./configuration_embed.html"%>            
                <%@ include file="./configuration_iphone.html"%>            
                <%@ include file="./configuration_ipad.html"%>            
                <%@ include file="./configuration_ios.html"%>            
                <%@ include file="./configuration_android.html"%>            
                <%@ include file="./configuration_blackberry.html"%>            
                <%@ include file="./configuration_windowsphone7.html"%>            
              </div>
            </div>
          </div>
        </div>
        
       <% if(studio.getProps().optBoolean("enable-per-app-metrics")){ %>
        <%@ include file="../reporting/reports_container.html" %>
       <%}%>

       <%@ include file="./dashboard.html"%>

       <%@ include file="./debug_logging.html"%>

       <%@ include file="./endpoints.html"%>

       <%@ include file="./deploy.html"%>

       <%@ include file="./environment.html"%>

       <% if(studio.getProps().optBoolean("stats-enabled")){ %>
         <%@ include file="./stats.html"%>
       <%}%>
        
       <% if(studio.getProps().optBoolean("enable-push-notification")){ %>
        <%@ include file="./push_notification.html"%>
       <%}%>
    </div>

    <div id="app_preview" class="well span3">
      
      <div id="preview_header">
        <select id="preview_temporary_select" class="insert-help"></select>
      </div>
      <div id="preview_wrapper">
        <div id="preview_frame"></div>
        <div id="preview_text"><span id="preview_device_too_large1" class="insert-lang"></span><a id="preview_device_open_emulator" class="script-link insert-lang"></a><span id="preview_device_too_large2" class="insert-lang"></span></div>
      </div>
      <div id="preview_controls" class="btn-group">
        <button id="preview_frame_debugger_btn" class="preview_control_btn insert-lang insert-help btn btn-inverse"><i class="icon-share"></i></button>
        <button id="preview_frame_emulator_btn" class="preview_control_btn insert-lang insert-help btn btn-inverse"><i class="icon-share-alt"></i></button>
        <button id="preview_frame_refresh_btn" class="preview_control_btn insert-lang insert-help btn btn-inverse"><i class="icon-refresh"></i></button>
      </div>
    </div>

  </div>
</div>
