<% if(studio.getProperty("cordova-version-selection").equals("true")) {%>
<div id="app_publish_cordova_versions_config">
  <div id="app_publish_cordova_versions_info" class="app_publish_cordova_versions_info">
    <form>
      <div class="row-fluid">
        <div class="span9">
          <p id="app_publish_cordova_versions_info_text" class="insert-lang-block"></p>
          <div id="app_cordova_versions" config-radio="cordova-options"></div>
        </div>
        <div class="span3 cordova_logo">
          <img src='/studio/static/themes/default/img/cordova/cordova.png'></img>
        </div>
      </div>
    </form>
  </div>
</div>
<% } %>